.top_nav {
  height: 1.27027027rem;
  background-color: #FF841D;
  position: relative;
}
.top_nav .left_logo a.glyphicon {
  display: inline-block;
  font-size: 0.67567568rem;
  color: #FFF;
  line-height: 1.27027027rem;
}
.top_nav .center_word p {
  text-align: center;
  height: 1.27027027rem;
  line-height: 1.27027027rem;
  font-size: 0.64864865rem;
  color: #FFF;
  font-family: 'microsoft YaHei';
}
.top_nav .right_logo a img {
  display: inline-block;
  width: 0.97297297rem;
  height: 0.97297297rem;
  padding-top: 0.13513514rem;
  position: absolute;
  top: 0;
  right: 0;
}
.web_url {
  width: 100%;
}
.web_url .pic_icon {
  padding-left: 1.13513514rem;
}
.web_url a {
  display: inline-block;
  float: left;
  padding: 0 0.40540541rem;
  line-height: 1.08108108rem;
  border: 1px solid #BFBFBF;
  text-align: center;
  background-color: #F4F4F4;
  margin: 0.16216216rem;
}
.web_url img {
  display: inline-block;
  float: left;
  width: 0.43243243rem;
  height: 0.43243243rem;
  text-align: center;
  margin-top: 0.37837838rem;
}
.web_url span {
  color: blue;
}
/*�ײ�����B*/
.row {
  height: 0.89189189rem;
  line-height: 0.89189189rem;
  background-color: #EFEFEF;
  border: 1px solid #C4C4C4;
  margin-top: 0.94594595rem;
}
.row .bottom_right {
  position: relative;
}
.row p {
  color: #000000;
  border-right: 1px solid #C4C4C4;
  text-align: center;
  font-size: 0.37837838rem;
}
.row a {
  display: inline-block;
  font-size: 0.37837838rem;
  color: #747474;
  position: absolute;
  top: 0.21621622rem;
  left: 0.62162162rem;
}
footer .bottom_bar {
  background-color: #EFEFEF;
  height: 1.56756757rem;
  width: 100%;
  overflow: hidden;
}
.bottom_bar p {
  text-align: center;
  color: #FF0000;
  font-size: 0.32432432rem;
}
.bottom_bar p span {
  color: #000000;
}
.bottom_bar p b {
  color: #666666;
}
.bottom_bar p p {
  color: #666666;
  text-align: center;
}
