.MMB_category .topHeader {
  background-color: #f4483e;
  color: white;
  position: relative;
}
.MMB_category .topHeader .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 0.2rem;
}
.MMB_category .topHeader .back a {
  display: inline-block;
  font-size: 0.53333333rem;
  line-height: 1.28rem;
  height: 100%;
  color: white;
  width: .8rem;
}
.MMB_category .topHeader h1 {
  line-height: 1.28rem;
  text-align: center;
}
.MMB_category .topHeader .appdown {
  position: absolute;
  top: 0;
  right: 0;
}
main {
  width: 100%;
}
main ul {
  width: 100%;
  padding-top: 0.26666667rem;
}
main ul li {
  float: left;
  width: 30%;
  margin: 0.13333333rem;
  border: 1px solid #ccc;
  padding-top: 0.13333333rem;
}
main ul li a {
  display: block;
  padding-bottom: 0.13333333rem;
  width: 100%;
  text-align: center;
}
main ul li a img {
  width: 50%;
}
