html {
  font-size: 75px;
}
html,
body {
  height: 100%;
}
.top_header {
  width: 100%;
  height: 1.33333333rem;
  background: #FF841D;
  overflow: hidden;
}
.top_header .logo {
  float: left;
  margin-left: 0.26666667rem;
  position: relative;
}
.top_header .logo h1 {
  position: absolute;
  left: -99999px;
}
.top_header .logo img {
  margin-top: 0.33333333rem;
  height: 0.66666667rem;
  width: auto;
}
.top_header .app_download {
  float: right;
  margin-top: 0.26666667rem;
  margin-right: 0.2rem;
}
.top_header .app_download img {
  height: 0.90666667rem;
  width: auto;
}
.top_search {
  height: 1.06666667rem;
  width: 100%;
  background: #F9F9F9;
}
.top_search .search_content {
  width: 70%;
  height: 0.66666667rem;
  border-radius: 0.66666667rem;
  background: #DDD;
  padding-left: 5%;
  font-family: "SimSun";
  margin: 0.2rem 0 0 0.24rem;
}
[data-dpr="1"] .top_search .search_content {
  font-size: 12px;
}
[data-dpr="2"] .top_search .search_content {
  font-size: 24px;
}
[data-dpr="3"] .top_search .search_content {
  font-size: 36px;
}
.top_search .search_btn {
  width: 18%;
  height: 0.72rem;
  border-radius: 0.66666667rem;
  background: #FF841D;
  color: #FFF;
  font-family: "Microsoft yahei";
  margin: 0.17333333rem 0 0 0.24rem;
}
[data-dpr="1"] .top_search .search_btn {
  font-size: 16px;
}
[data-dpr="2"] .top_search .search_btn {
  font-size: 32px;
}
[data-dpr="3"] .top_search .search_btn {
  font-size: 48px;
}
.nav {
  background: #F7F7F7;
  border-bottom: 0.01333333rem solid #CCC;
  border-top: 0.01333333rem solid #CCC;
  height: 0.9rem;
  line-height: 0.9rem;
  color: #000000;
}
[data-dpr="1"] .nav {
  font-size: 12px;
}
[data-dpr="2"] .nav {
  font-size: 24px;
}
[data-dpr="3"] .nav {
  font-size: 36px;
}
.nav ul li {
  float: left;
  padding-left: 0.26666667rem;
}
footer {
  background: #F1F1F1;
  width: 100%;
  height: 3.2rem;
  overflow: hidden;
}
footer ul {
  width: 100%;
  margin-top: 0.6rem;
}
footer ul li {
  float: left;
  width: 33.333%;
  height: 0.8rem;
  line-height: 0.8rem;
  border: 0.01333333rem solid #CCC;
  border-left: none;
  color: #000;
  text-align: center;
}
[data-dpr="1"] footer ul li {
  font-size: 12px;
}
[data-dpr="2"] footer ul li {
  font-size: 24px;
}
[data-dpr="3"] footer ul li {
  font-size: 36px;
}
footer ul li:nth-child(3) {
  border-right: none;
}
[data-dpr="1"] footer ul li:nth-child(3) span {
  font-size: 14px;
}
[data-dpr="2"] footer ul li:nth-child(3) span {
  font-size: 28px;
}
[data-dpr="3"] footer ul li:nth-child(3) span {
  font-size: 42px;
}
footer .footer_info {
  margin-top: 0.26666667rem;
}
footer .footer_info p {
  text-align: center;
}
[data-dpr="1"] footer .footer_info p {
  font-size: 12px;
}
[data-dpr="2"] footer .footer_info p {
  font-size: 24px;
}
[data-dpr="3"] footer .footer_info p {
  font-size: 36px;
}
footer .footer_info p a {
  color: #FF0000;
}
