html {
  font-size: 75px;
}
html,
body {
  height: 100%;
}
.navTitle {
  height: 1rem;
  color: #874604;
  line-height: 1rem;
  padding-left: 0.4rem;
  background: #EEEEEE;
  margin-top: 0.26666667rem;
  border: 0.01333333rem solid #CCC;
}
[data-dpr="1"] .navTitle {
  font-size: 14px;
}
[data-dpr="2"] .navTitle {
  font-size: 28px;
}
[data-dpr="3"] .navTitle {
  font-size: 42px;
}
.wrap {
  width: 100%;
  min-height: 60%;
}
.wrap ul {
  width: 100%;
}
.wrap ul li {
  width: 100%;
  height: 1.2rem;
  position: relative;
  border-bottom: 1px solid #CCC;
}
.wrap ul li .listnum {
  float: left;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background: #ddd;
  text-align: center;
  color: #FFF;
}
[data-dpr="1"] .wrap ul li .listnum {
  font-size: 12px;
}
[data-dpr="2"] .wrap ul li .listnum {
  font-size: 24px;
}
[data-dpr="3"] .wrap ul li .listnum {
  font-size: 36px;
}
.wrap ul li .brand {
  float: left;
  margin-top: 0.06666667rem;
  margin-left: 0.26666667rem;
  color: #000;
}
[data-dpr="1"] .wrap ul li .brand {
  font-size: 14px;
}
[data-dpr="2"] .wrap ul li .brand {
  font-size: 28px;
}
[data-dpr="3"] .wrap ul li .brand {
  font-size: 42px;
}
.wrap ul li .brand span {
  display: block;
}
.wrap ul li .brand span:nth-child(2) {
  color: #999;
}
[data-dpr="1"] .wrap ul li .brand span:nth-child(2) {
  font-size: 12px;
}
[data-dpr="2"] .wrap ul li .brand span:nth-child(2) {
  font-size: 24px;
}
[data-dpr="3"] .wrap ul li .brand span:nth-child(2) {
  font-size: 36px;
}
.wrap ul li .arrow {
  line-height: 1.2rem;
  color: #999999;
  margin-right: 0.13333333rem;
}
[data-dpr="1"] .wrap ul li .arrow {
  font-size: 20px;
}
[data-dpr="2"] .wrap ul li .arrow {
  font-size: 40px;
}
[data-dpr="3"] .wrap ul li .arrow {
  font-size: 60px;
}
.wrap ul li:nth-child(1) .listnum {
  background: red;
}
.wrap ul li:nth-child(2) .listnum {
  background: orange;
}
.wrap ul li:nth-child(3) .listnum {
  background: lawngreen;
}
