html {
  font-size: 75px;
}
html,
body {
  height: 100%;
}
.menu {
  width: 100%;
  background: #FFF;
  padding-top: 0.53333333rem;
}
.menu ul {
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  transition: height 0.5s;
}
.menu ul.active {
  height: 5.6rem;
}
.menu ul li {
  width: 25%;
  margin-bottom: 0.13333333rem;
  float: left;
}
.menu ul li a {
  overflow: hidden;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
.menu ul li a img {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.menu ul li a span {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  white-space: nowrap;
}
.content {
  width: 100%;
}
.content .content_title {
  background: #FFA52F;
  height: 0.8rem;
  overflow: hidden;
}
.content .content_title h3 {
  float: left;
  color: #FFF;
  line-height: 0.8rem;
  padding-left: 0.2rem;
}
[data-dpr="1"] .content .content_title {
  font-size: 14px;
}
[data-dpr="2"] .content .content_title {
  font-size: 28px;
}
[data-dpr="3"] .content .content_title {
  font-size: 42px;
}
.content .content_title span {
  float: right;
  margin-top: 0.4rem;
  transform: translateY(-50%);
  color: #FFF;
  padding-right: 0.26666667rem;
}
[data-dpr="1"] .content .content_title span {
  font-size: 18px;
}
[data-dpr="2"] .content .content_title span {
  font-size: 36px;
}
[data-dpr="3"] .content .content_title span {
  font-size: 54px;
}
.content .wrap {
  overflow: hidden;
  width: 100%;
  transition: height 0.5s;
}
.content .wrap.disappear {
  height: 0;
}
.content .products {
  width: 100%;
  min-height: 6rem;
  background: #FFF;
}
.content .products li {
  width: 100%;
  border-bottom: 0.01333333rem solid #CCC;
}
.content .products li .image {
  padding: 0.3rem;
  width: 2rem;
  height: 3rem;
}
.content .products li .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .products li .pro_info {
  position: relative;
  width: 6.5rem;
  height: 100%;
}
.content .products li .pro_info .pro_name {
  position: absolute;
  left: 0.25rem;
  top: 0.33333333rem;
  color: #000;
  width: 6.5rem;
}
[data-dpr="1"] .content .products li .pro_info .pro_name {
  font-size: 14px;
}
[data-dpr="2"] .content .products li .pro_info .pro_name {
  font-size: 28px;
}
[data-dpr="3"] .content .products li .pro_info .pro_name {
  font-size: 42px;
}
.content .products li .pro_info .pro_name .price {
  color: #FF6C37;
}
.content .products li .pro_info .pro_time {
  position: absolute;
  width: 6.5rem;
  bottom: 0.66666667rem;
  left: 0.25rem;
}
.content .products li .pro_info .pro_time p {
  float: left;
}
.content .products li .pro_info .pro_time .pro_comment {
  float: right;
}
.content .products li .pro_info .pro_time .pro_comment span:nth-child(1) {
  vertical-align: middle;
}
[data-dpr="1"] .content .products li .pro_info .pro_time .pro_comment span:nth-child(1) {
  font-size: 18px;
}
[data-dpr="2"] .content .products li .pro_info .pro_time .pro_comment span:nth-child(1) {
  font-size: 36px;
}
[data-dpr="3"] .content .products li .pro_info .pro_time .pro_comment span:nth-child(1) {
  font-size: 54px;
}
[data-dpr="1"] .content .products li .pro_info .pro_time .pro_comment span:nth-child(2) {
  font-size: 12px;
}
[data-dpr="2"] .content .products li .pro_info .pro_time .pro_comment span:nth-child(2) {
  font-size: 24px;
}
[data-dpr="3"] .content .products li .pro_info .pro_time .pro_comment span:nth-child(2) {
  font-size: 36px;
}
.content .more_info {
  height: 1rem;
}
[data-dpr="1"] .content .more_info {
  font-size: 12px;
}
[data-dpr="2"] .content .more_info {
  font-size: 24px;
}
[data-dpr="3"] .content .more_info {
  font-size: 36px;
}
.content .more_info a {
  display: block;
  height: 0.8rem;
  width: 90%;
  border: 0.02666667rem solid #DDD;
  margin: 0.2rem auto;
  text-align: center;
  line-height: 0.8rem;
  color: #000;
}
