html {
  font-size: 75px;
}
html,
body {
  height: 100%;
}
.top_header {
  width: 100%;
  height: 1.33333333rem;
  background: #FF841D;
  position: relative;
  overflow: hidden;
}
.top_header a {
  position: absolute;
  left: 0.1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.2rem;
  color: #FFF;
}
[data-dpr="1"] .top_header a {
  font-size: 20px;
}
[data-dpr="2"] .top_header a {
  font-size: 40px;
}
[data-dpr="3"] .top_header a {
  font-size: 60px;
}
.top_header h1 {
  position: absolute;
  color: #FFF;
  line-height: 1.33333333rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "MicroSoft YaHei";
}
[data-dpr="1"] .top_header h1 {
  font-size: 18px;
}
[data-dpr="2"] .top_header h1 {
  font-size: 36px;
}
[data-dpr="3"] .top_header h1 {
  font-size: 54px;
}
.top_header .app_download {
  position: absolute;
  right: 0;
  margin-top: 0.26666667rem;
  margin-right: 0.2rem;
}
.top_header .app_download img {
  height: 0.90666667rem;
  width: auto;
}
.pro_content {
  width: 100%;
  min-height: 80%;
}
.pro_content ul {
  width: 100%;
  min-height: 100%;
}
.pro_content ul li {
  width: 50%;
  float: left;
  border-right: 0.01333333rem solid #CCC;
  border-bottom: 0.01333333rem solid #CCC;
  position: relative;
}
.pro_content ul li:nth-child(2n) {
  border-right: none;
}
.pro_content ul li a:nth-child(1) {
  padding-top: 0.5rem;
  display: block;
  text-align: center;
}
.pro_content ul li a:nth-child(1) img {
  width: 4rem;
  height: 5rem;
}
.pro_content ul li a:nth-child(2) {
  display: block;
  color: #000;
  font-family: "MicroSoft YaHei";
  font-weight: 700;
  padding: 0.2rem;
}
[data-dpr="1"] .pro_content ul li a:nth-child(2) {
  font-size: 14px;
}
[data-dpr="2"] .pro_content ul li a:nth-child(2) {
  font-size: 28px;
}
[data-dpr="3"] .pro_content ul li a:nth-child(2) {
  font-size: 42px;
}
.pro_content ul li p:nth-child(3) {
  font-family: "SimSun";
  color: #FF841D;
  padding: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[data-dpr="1"] .pro_content ul li p:nth-child(3) {
  font-size: 16px;
}
[data-dpr="2"] .pro_content ul li p:nth-child(3) {
  font-size: 32px;
}
[data-dpr="3"] .pro_content ul li p:nth-child(3) {
  font-size: 48px;
}
.pro_content ul li p:nth-child(4) {
  color: #bbb;
  padding: 0.2rem;
}
[data-dpr="1"] .pro_content ul li p:nth-child(4) {
  font-size: 12px;
}
[data-dpr="2"] .pro_content ul li p:nth-child(4) {
  font-size: 24px;
}
[data-dpr="3"] .pro_content ul li p:nth-child(4) {
  font-size: 36px;
}
footer {
  background: #F1F1F1;
  width: 100%;
  height: 3.2rem;
  overflow: hidden;
}
footer ul {
  width: 100%;
  margin-top: 0.6rem;
}
footer ul li {
  float: left;
  width: 33.333%;
  height: 0.8rem;
  line-height: 0.8rem;
  border: 0.01333333rem solid #CCC;
  border-left: none;
  color: #000;
  text-align: center;
}
[data-dpr="1"] footer ul li {
  font-size: 12px;
}
[data-dpr="2"] footer ul li {
  font-size: 24px;
}
[data-dpr="3"] footer ul li {
  font-size: 36px;
}
footer ul li:nth-child(3) {
  border-right: none;
}
[data-dpr="1"] footer ul li:nth-child(3) span {
  font-size: 14px;
}
[data-dpr="2"] footer ul li:nth-child(3) span {
  font-size: 28px;
}
[data-dpr="3"] footer ul li:nth-child(3) span {
  font-size: 42px;
}
footer .footer_info {
  margin-top: 0.26666667rem;
}
footer .footer_info p {
  text-align: center;
}
[data-dpr="1"] footer .footer_info p {
  font-size: 12px;
}
[data-dpr="2"] footer .footer_info p {
  font-size: 24px;
}
[data-dpr="3"] footer .footer_info p {
  font-size: 36px;
}
footer .footer_info p a {
  color: #FF0000;
}
@media screen and (max-width: 640px) {
  .pro_content ul li a:nth-child(2) {
    height: 1.3rem;
    overflow: hidden;
  }
}
