@charset "UTF-8";
html {
  font-size: 37px;
}
.m_top .m_left {
  width: 56%;
}
.m_top .m_left span {
  width: 100%;
  display: block;
  height: 50px;
  padding: 10px;
}
.m_top .m_left span img {
  width: 100%;
  display: block;
}
.layout {
  margin: 0 auto;
  position: relative;
  /* 通栏部分*/
}
.layout form {
  width: 100%;
  height: 1.35135135rem;
  list-style: none;
  position: relative;
  padding: 0 0.27027027rem;
}
.layout form input {
  width: 80%;
  height: 0.81081081rem;
  background: #F1F1F1;
  border-radius: 0.27027027rem;
  padding-left: 0.13513514rem;
  border: none;
  margin-top: 0.27027027rem;
  font-size: 0.37837838rem;
  float: left;
}
.layout button {
  width: 1.67567568rem;
  height: 0.81081081rem;
  background: #FF841D;
  border-radius: 0.27027027rem;
  color: white;
  border: none;
  font-size: 0.37837838rem;
  float: left;
  margin-top: 0.27027027rem;
  margin-left: 0.13513514rem;
}
.layout .content {
  width: 100%;
  /*主体内容部分*/
}
.layout .content .laber {
  width: 100%;
  height: 1.02702703rem;
  background: #EDEDED;
  line-height: 1.02702703rem;
  padding: 0 0.27027027rem;
  font-size: 0.37837838rem;
}
.layout .content .laber ul {
  float: left;
}
.layout .content .laber ul li {
  float: left;
  text-align: center;
  line-height: 1.02702703rem;
  padding-left: 0.13513514rem;
}
.layout .content .laber .select {
  float: right;
  width: 1.67567568rem;
  height: 0.75675676rem;
  line-height: 0.75675676rem;
  background: #E1E1E1;
  margin-top: 0.13513514rem;
  text-align: center;
  border-radius: 0.05405405rem;
}
.layout .content .product {
  width: 100%;
}
.layout .content .product li {
  width: 100%;
  height: 3.10810811rem;
  border-bottom: 1px solid #E7E7E7;
  padding: 0.13513514rem 0.27027027rem;
}
.layout .content .product li a {
  width: 100%;
  height: 100%;
  display: block;
  /*右边文字部分*/
}
.layout .content .product li a .left_pic {
  display: block;
  width: 35%;
  float: left;
  text-align: center;
  padding-right: 0.27027027rem;
}
.layout .content .product li a .left_pic img {
  width: 2.7027027rem;
  height: 2.7027027rem;
}
.layout .content .product li a .right_text {
  display: inline-block;
  width: 65%;
  overflow: hidden;
  line-height: 0.67567568rem;
}
.layout .content .product li a .right_text i {
  display: block;
  height: 1.35135135rem;
  font-size: 0.37837838rem;
  margin-top: 0.13513514rem;
  overflow: hidden;
}
.layout .content .product li a .right_text b {
  display: block;
  color: red;
  font-size: 0.43243243rem;
}
.layout .content .product li a .right_text span {
  display: inline-block;
  font-size: 0.35135135rem;
  color: #A1A1A1;
  margin-right: 0.27027027rem;
}
.layout .content .product .page {
  width: 100%;
  height: 0.94594595rem;
  text-align: center;
  margin-top: 0.27027027rem;
  padding: 0 0.27027027rem;
}
.layout .content .product .page .pre_page,
.layout .content .product .page .next_page,
.layout .content .product .page .center_page {
  width: 2.2972973rem;
  height: 0.94594595rem;
  line-height: 0.94594595rem;
  background: #DDDDDD;
  text-align: center;
}
.layout .content .product .page .center_page,
.layout .content .product .page .pre_page {
  float: left;
}
.layout .content .product .page .center_page {
  margin-left: 1.21621622rem;
  background: white;
  border: 1px solid #DDDDDD;
}
.layout .content .product .page .center_page select {
  float: right;
  margin-top: 0.21621622rem;
}
.layout .content .product .page .center_page a {
  display: inline-block;
  width: 0.54054054rem;
  height: 0.54054054rem;
  color: black;
  margin-left: 0.27027027rem;
}
.layout .content .product .page .next_page {
  float: right;
}
