html {
    font-size: 75px
}

body header {
    background: red
}


.bcj-goback {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 60px;
    color: #FFF
}

.bcj-title {
    font-size: 35px;
    line-height: 100px;
    color: #FFF
}

.bcj-nav {
    width: 100%;
    overflow: hidden
}

.bcj-nav ul {
    position: relative
}

.bcj-nav ul li {
    float: left;
    text-align: center;
    background: #FFF
}

.bcj-nav ul li a {
    height: 70px;
    line-height: 70px;
    font-size: 25px
}

.bcj-content {
    margin-top: 10px;
    overflow: hidden
}

.bcj-product {
    overflow: hidden;
    padding: 20px 10px;
    max-height: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
    position: relative;
}

.bcj-product span {
    max-height: 100%
}

.bcj-product-img {
    overflow: hidden;
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    margin-right: 10px
}

.bcj-product-detail {
    overflow: hidden;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: url(../images/icon-backtotop.png) 0 0 no-repeat;
    width: 100px;
    height: 100px
}

.bcj-product-name >.b {
    margin-bottom: 10px;
    font-size: 24px
}

.bcj-product-name {
    font-size: 24px;
}

.bar {
    overflow: hidden;
    margin: 10px 0;
    font-size: 16px;
    height: 24px
}

.bcj-product-detail > a:nth-of-type(2) {
    color: red;
    border:2px solid red;
    font-size: 20px;
    position: absolute;
    bottom: 25px;
}

.bar i {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 24px;
    border-radius: 15px;
    border: 2px solid red;
    background: #CCC;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
}

.bar i em {
    display: inline-block;
    background: red;
    height: 100%;
    border-radius: 10px
}

.bar i span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 20px;
    color: #FFF
}

.bar b {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.bcj-product-price {
    position: relative;
    color: red;
    font-size: 26px
}

.bcj-product-price i {
    font-size: 26px;
    margin-right: 10px
}

.bcj-product-price em {
    font-size: 18px
}

.bcj-product-price del {
    font-size: 18px;
    color: #ccc;
    margin-left: 20px
}

a[biz-itemid] {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    float: right;
    background-color: red;
    color: #FFF;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 10px;    
}
