@charset "utf-8";
main .list .listTitle {
  padding: 0.266667rem;
  font-weight: 400;
}
main .list .listTitle .icon_expand_more {
  font-size: 0.8rem;
  color: #666;
}
main .list .listCont {
  background-color: #fff;
}
main .list .listCont ul {
  flex-wrap: wrap;
}
main .list .listCont ul li {
  width: 33.333%;
}
main .list .listCont ul li:nth-of-type(3n) {
  border-right: none;
}
main .list .listCont ul li a {
  display: block;
  padding: 0.333333rem 0;
  text-align: center;
}
