body header {
    background: red
}

.container {
	padding: 20px;
}

.coupon {
	position: relative;
	float: left;
	width: 30%;
	margin: 1.6%;
	border: 2px solid #ccc;
	color:#5a5a5a;
	height: 200px;
	text-align: center;
}

.coupon img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 150px;
}

.coupon a {
	display: inline-block;
}

.coupon a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}


