@charset "utf-8";
/*头部样式*/
header .back .icon_navigate_before {
  font-size: 20px;
  color: #fff;
}
[data-dpr="2"] header .back .icon_navigate_before {
  font-size: 40px;
}
[data-dpr="3"] header .back .icon_navigate_before {
  font-size: 60px;
}
header h3 {
  color: #fff;
  font-size: 20px;
}
[data-dpr="2"] header h3 {
  font-size: 40px;
}
[data-dpr="3"] header h3 {
  font-size: 60px;
}
/*主体样式*/
.main {
  background-color: #fff;
  padding: 0.266667rem;
}
.main .product_box .title {
  font-size: 12px;
  font-weight: 400;
}
[data-dpr="2"] .main .product_box .title {
  font-size: 24px;
}
[data-dpr="3"] .main .product_box .title {
  font-size: 36px;
}
.main .product_box .from {
  font-size: 7px;
  padding: 0.4rem 0;
}
[data-dpr="2"] .main .product_box .from {
  font-size: 14px;
}
[data-dpr="3"] .main .product_box .from {
  font-size: 21px;
}
.main .product_box .desc img {
  float: right;
}
.main .product_box .desc .info {
  font-size: 10px;
}
[data-dpr="2"] .main .product_box .desc .info {
  font-size: 20px;
}
[data-dpr="3"] .main .product_box .desc .info {
  font-size: 30px;
}
.main .product_box .lgPic {
  width: 100%;
  padding: 0.533333rem 0;
}
.main .product_box .lgPic img {
  width: 100%;
}
.main .product_box .productCity {
  width: 40%;
  margin-left: 30%;
  padding: 0 0.4rem;
}
.main .product_box .productCity li {
  border-bottom: 1px solid #ccc;
  padding: 0.133333rem;
}
.main .product_box .productCity li a {
  display: block;
}
.main .product_box .productCity li a strong {
  float: right;
  color: #FF841C;
}
.main .product_box > button {
  width: 80%;
  margin-left: 10%;
  padding: 0.266667rem 0;
  font-size: 15px;
  color: #fff;
  background-color: #FF841C;
  border: none;
  border-radius: 0.266667rem;
  margin-top: 0.533333rem;
}
[data-dpr="2"] .main .product_box > button {
  font-size: 30px;
}
[data-dpr="3"] .main .product_box > button {
  font-size: 45px;
}
.main .code {
  padding: 0.666667rem;
}
.main .code img {
  width: 100%;
}
.main .comment {
  /*评论区*/
}
.main .comment .tit {
  font-size: 16px;
  padding: 0.266667rem 0;
  font-weight: 400;
}
[data-dpr="2"] .main .comment .tit {
  font-size: 32px;
}
[data-dpr="3"] .main .comment .tit {
  font-size: 48px;
}
.main .comment .reply {
  position: relative;
}
.main .comment .reply textarea {
  width: 100%;
  height: 2.666667rem;
  resize: none;
  border: 1px solid #ccc;
}
.main .comment .reply .tjdp {
  padding: 0.266667rem 0.4rem;
  color: #fff;
  background-color: #FF841C;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0.066667rem;
}
.main .comment .list li {
  padding-top: 0.533333rem;
}
.main .comment .list li:before,
.main .comment .list li:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.main .comment .list li .userimg {
	/*width: 2.16rem;
	height: 2.16rem;*/
	width: 22%;
	
	border-radius: 50%;
	
  overflow: hidden;
  float: left;
}
.main .comment .list li .userimg img{
	width: 100%;
}
.main .comment .list li .con {
	width: 75%;
  float:left;
  padding-left: 0.266667rem;
}
.main .comment .list li .con .name {
  padding: 0.133333rem 0;
}
.main .comment .list li .con .username {
  color: #00f;
  float: left;
}
.main .comment .list li .con .time {
  float: right;
  /*padding-left: 1.466667rem;*/
}
