.hb_title{
	position: fixed;
	z-index: 1000;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}
/*头部*/
.hb_header{
	width: 100%;
	height: 0.666667rem;
	background-color: orange;
	position: relative;
}

.hb_header h3{
	line-height: 0.666667rem;
	text-align: center;
	font-size: 0.533333rem;
	font-weight: 400;
	color: #fff;
}

.hb_header a{
	position: absolute;
	font-size: 0.586667rem;
	top: 0;
	
}
.hb_header .hb_back{
	left: 0;
	color: #fff;
	height: 0.666667rem;
}
.hb_header .hb_more{
	background: url('../images/m3sprite.png') no-repeat;
	background-size: 3.333333rem 1.333333rem;
	background-position: 0 -0.866667rem;
	top: 0.133333rem;
	right: 0.133333rem;
	width: 0.453333rem;
	height: 0.453333rem;
}

/*导航*/
.hb_nav{
	width: 100%;
	height: 0.666667rem;
	background-color: #fff;
	font-size: 0.4rem;
}

.hb_nav ul{
	display: inline-block;
	width: 90%;
	height: 0.666667rem;
	float: left;
}
.hb_nav ul li{
	float: left;
	width: 33.3333%
}
.hb_nav ul li a{
	display: block;
	width: 100%;
	height: 0.666667rem;
	text-align: center;
	line-height: 0.666667rem;
}

.hb_nav .hb_search{
	display: inline-block;
	width: 10%;
	height: 0.666667rem;
	float: left;
	border-left: 1px solid #e3e3e3;
}
.hb_nav .hb_search a{
	display: block;
	width: 100%;
	height: 0.666667rem;
	text-align: center;
	line-height: 0.666667rem;
}

/*商品主体*/
.hb_main{
	width: 100%;
	padding-top: 2.0rem;
	background-color: #e3e3e3;
}
.hb_main ul{
	border-top: 0.133333rem solid #e3e3e3;
	border-left: 0.133333rem solid #e3e3e3;
}
.hb_main ul li{
	float: left;
	width: 50%;
	background-color: #fff;
	border-right: 0.133333rem solid #e3e3e3;
	border-bottom: 0.133333rem solid #e3e3e3;
}

.hb_main ul li a{
	margin-top: 0.1333rem;
	display: block;
	width: 1.866667rem;
	height: 3.3333rem;
	width: 100%;

}
.hb_main ul li a img{
	display: block;
	width: 100%;
	height: 100%;
	margin:0 auto;
	// height: 200px;
}
.hb_main ul li p{
	text-align: center;
	margin-top: 0.066667rem;
	padding-top: 0.2667rem;
	// margin-bottom: 0.066667rem;
	font-size: 0.306667rem;
	height: 1.6rem;
	overflow: hidden;
}
.hb_main ul li div{
	font-size: 0.333333rem;
	margin-top: 0.066667rem;
	margin-bottom: 0.066667rem;
}
.hb_main ul li div span{
	float: left;
	margin-left:0.266667rem ;
	color: red;
}
.hb_main ul li div button{
	float: right;
	margin-right: 0.266667rem;
	font-size: 0.333333rem;
	color: #fff;
	font-family: "MicroSoft YaHei","sans-serif";
	background-color: orange;
	text-align: center;
	width: 30%;
	height: 100%;
	border-style: none;
	border-radius: 0.066667rem;
}

/*弹出框店铺*/
.hb_shopInfo,.hb_areaInfo{
	position: fixed;
	top: 2.0rem;
	// padding-top: 1.333333rem;
	width: 100%;
	background-color: rgba(0,0,0,0);
	display: none;
}
.hb_shopList,.hb_areaList{
	width: 100%;
	border-top: 1px solid #e3e3e3;
}
.hb_shopList li,.hb_areaList li{
	width: 100%;
	height: 0.666667rem;
	background-color: white;
	font-size: 0.4rem;
	border-bottom: 1px solid #e3e3e3;
	padding-left: 50px;
}
.hb_shopList li a,.hb_areaList li a {
	display: block;
	width: 100%;
	height: 100%;
}