html {
    font-size: 75px
}

.sqk-content {
    width: 100%
}

.sqk-content ul {
    padding-left: .1067rem
}

.sqk-product {
    float: left;
    padding: .2133rem 0;
    border-bottom: 1px solid #e0e0e0;
    max-height: 100%
}

.sqk-product-img {
    float: left;
    width: 2.666667rem;
    height: 2.666667rem;
    margin-right: .1333rem;
}

.sqk-product-detail {
    overflow: hidden;
}

.sqk-product-img img {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
}

[data-dpr="2"] .sqk-product-img img {
    font-size: 10px
}

[data-dpr="3"] .sqk-product-img img {
    font-size: 15px
}

.sqk-product-intro {
    margin-top: .0267rem;
    padding-right: 0.2667rem;
}

[data-dpr="2"] .sqk-product-intro {
    font-size: 32px
}

[data-dpr="3"] .sqk-product-intro {
    font-size: 48px
}

.sqk-product-pinkage {
    color: #ff8767;
    margin-left: .1333rem
}

.sqk-product-market {
    color: #b5a1a1;
    margin-top: 0.0667rem;
}

[data-dpr="2"] .sqk-product-market {
    font-size: 20px
}

[data-dpr="3"] .sqk-product-market {
    font-size: 30px
}

.sqk-product-count {
    float: right;
    margin-right: .1067rem
}

.sqk-pageselect {
    text-align: center
}

input[type=button] {
    width: 2rem;
    height: .8rem;
    border-radius: .1333rem;
    font-size: .2667rem;
    background-image: linear-gradient(to bottom, #efefef, #d5d5d5)
}

[data-dpr="2"] input[type=button] {
    font-size: 20px
}

[data-dpr="3"] input[type=button] {
    font-size: 30px
}

select[name=pageselect] {
    box-sizing: border-box;
    width: 2.6667rem;
    height: .8rem;
    border: .0267rem solid #b5a1a1;
    margin: .6667rem .8rem 0 .8rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

[data-dpr="2"] select[name=pageselect] {
    font-size: 20px
}

[data-dpr="3"] select[name=pageselect] {
    font-size: 30px
}
