/*-------------------重置清除设置--------------*/


/*清除边距      清除高亮      设置边框计算宽度*/

*,
::before,
::after {
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
::before,
::after {
	margin: 0;
	padding: 0
}

html * {
	outline: 0;
	-webkit-text-size-adjust: none;
	font-family: "microsoft yahei", "sans-serif";
}

body {
	font-size: 14px;
	color: #000;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}


/*a:hover {color:#999;}*/


/*清除图片的3像素空白*/

img {
	display: block;
}


/*组件默认的样式空*/

fieldset,
img {
	border: 0
}

abbr,
acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

input,
select {
	border: none;
	outline: none;
	resize: none;
	-webkit-appearance: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

/*清除浮动*/

.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}


/*--------------------可改写通用设置通用设置------------------------*/
/*其余颜色设置*/
.scolor{
	color: #666;
}


/*左右浮动*/

.fl {
	float: left;
}

.fr {
	float: right;
}


/*伸缩布局   解决UC浏览器不兼容的问题*/

.flexBox {
		    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
	
	
}
/*主轴对其方式  默认*/
.jcs {
	justify-content: space-between;
	
}
/*主轴居中显示*/
.jcc{
	justify-content: center;
}
/*副轴居中*/
.ac{
	 -webkit-box-align: center;  /* for UC*/
	 -webkit-align-items: center;
	 align-items: center;
	
}


/*边框设置*/

.bl {
	border-left: 1px solid #c4c4c4;
}

.br {
	border-right: 1px solid #c4c4c4;
}

.bt {
	border-top: 1px solid #c4c4c4;
}

.bb {
	border-bottom: 1px solid #c4c4c4;
}


/*外边距设置*/

.ml {
	margin-left: 10px;
}

.mr {
	margin-right: 10px;
}

.mt {
	margin-top: 10px;
}

.mb {
	margin-bottom: 10px;
}

.show {
	display: block;
}

.hide {
	display: none;
}


/*--------------------设置字体文件------------------------*/

@font-face {
	font-family: 'manmanmai';
	src: url('../fonts/manmanmai.eot');
	src: url('../fonts/manmanmai.eot') format('embedded-opentype'), 
	url('../fonts/manmanmai.ttf') format('truetype'), 
	url('../fonts/manmanmai.woff') format('woff'), 
	url('../fonts/manmanmai.svg') format('svg');
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'manmanmai' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_arrow_upward:before {
  content: "\e900";
}
.icon_arrow-right:before {
  content: "\e901";
}
.icon_circle-right:before {
  content: "\e902";
}
.icon_cross:before {
  content: "\e903";
}
.icon_ctrl:before {
  content: "\e904";
}
.icon_expand_less:before {
  content: "\e905";
}
.icon_expand_more:before {
  content: "\e906";
}
.icon_favorite:before {
  content: "\e907";
}
.icon_favorite_border:before {
  content: "\e908";
}
.icon_list:before {
  content: "\e909";
}
.icon_navigate_before:before {
  content: "\e90a";
}
.icon_navigate_next:before {
  content: "\e90b";
}
.icon_search:before {
  content: "\e90c";
}
.icon_shift:before {
  content: "\e90d";
}
.icon_list2:before {
  content: "\e9bb";
}

