
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479796363060'); /* IE9*/
  src: url('iconfont.eot?t=1479796363060#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479796363060') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479796363060') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479796363060#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before { content: "\e61b"; }

.icon-xiajiantou:before { content: "\e61c"; }

.icon-jiantouxia:before { content: "\e6a1"; }

.icon-jiantoushang:before { content: "\e6a2"; }

.icon-wujiaoxing:before { content: "\e673"; }

.icon-sousuocaidan:before { content: "\e64f"; }

.icon-jiantou2:before { content: "\e69a"; }

.icon-guanbi:before { content: "\e610"; }

.icon-pinglun:before { content: "\e641"; }

.icon-shangjiantou1:before { content: "\e669"; }

.icon-jiantouyoujiantou:before { content: "\e615"; }

.icon-xiangshangjiantou:before { content: "\e62b"; }

.icon-dagou:before { content: "\e6c8"; }

.icon-jingdong:before { content: "\e60d"; }

.icon-jiantouyoujiantou1:before { content: "\e501"; }

