body {
	background-color: #F2F2F2;
}
/* 顶部通栏start */
.top {
	background-color: #FF841D;
}

/* 顶部通栏end */

/* 主体内容start */
.product {
	width: 100%;
}
.product .nav {
	position: relative;
	height: 1.133333rem;
	background-color: #fff;
}
.product .nav .filter{
	width: 87%;
	height: 1.133333rem;
	background-color: #fff;
	float: left; 	
	border-right: 1px solid #dadada;
}
.product .nav .filter ul {
	width: 100%;
}
.product .nav .filter ul li {
	float: left;
	line-height: 1.133333rem;
	width: 32%;
	height: 1.133333rem;
	text-align: center;
}
.product .nav .filter ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
[data-dpr='1'] .product .nav .filter ul li a {
	font-size: 14px;
}
[data-dpr='2'] .product .nav .filter ul li a {
	font-size: 28px;
}
[data-dpr='3'] .product .nav .filter ul li a {
	font-size: 42px;
}
.product .nav .search {
	float: right;
	width: 8%;
	height: 0.833333rem;
	margin-top: 0.208333rem;
	margin-right: 0.138889rem;
	background: url("../images/icon_bar.png") no-repeat -0.277778rem -0.208333rem;
	background-size: 6.111111rem 3.666667rem;
	background-color: #fff;
}
.product .nav .filter ul li i {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url("../images/down.png") no-repeat;
	vertical-align: middle;
	margin-left: 10px;
}
.product .nav .box {
	width: 100%;
	position: absolute;
	left: 0;
	top: 1.133333rem;
	background-color: #fff;
	display: none;
	z-index: 100;
}

.product .nav .box li {
	line-height: 1.133333rem;
	border-bottom: 1px solid #dadada;
	position: relative;
}
.product .nav .box li i {
	display: inline-block;
	width: 0.833333rem;
	height: 0.833333rem;
	position: absolute;
	right: 0.277778rem;
	top: 0.138889rem;
	color: #FF841D;
	font-size: 40px;
	line-height: 0.833333rem;
	display: none;

}
[data-dpr='1'] .product .nav .box li {
	font-size: 14px;
}
[data-dpr='2'] .product .nav .box li {
	font-size: 28px;
}
[data-dpr='3'] .product .nav .box li {
	font-size: 42px;
}
.product .nav .box li a{
	display: block;
    line-height: 1.133333rem;
    padding: 0px 10px;
}
.product .nav .box li.on:after{
	content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../images/select.png");
    background-repeat: no-repeat;
    -webkit-background-size: 20px auto;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
}

.product .pro_shop ul{
	width: 98%;
	margin: 0 auto;
}
.product .pro_shop ul li {
	width: 48%;
	height: 4.861111rem;
	text-align:center;
	float: left;	
    background-color: #ffffff;
	position: relative;
	margin: 0.069444rem;
}
.product .pro_shop ul li a {
	display: block;
    margin: 4px;
    background-color: #ffffff;
}
.product .pro_shop ul li .pic img{
	width: 2.416667rem;
	height: 2.416667rem;
	// background: url("../images/icon.png")
}
.product .pro_shop ul li .title{
	height: 0.933333rem;
	overflow: hidden;
}
.product .pro_shop ul li .text {
	width: 100%;
	height: 1.111111rem;
	line-height: 1.411111rem;
	padding: 0 10px;
	position: absolute;
	bottom: 0.138889rem;
}
[data-dpr='1'] .product .pro_shop ul li .text {
	font-size: 14px;
}
[data-dpr='2'] .product .pro_shop ul li .text {
	font-size: 28px;
}
[data-dpr='3'] .product .pro_shop ul li .text {
	font-size: 42px;
}
.product .pro_shop ul li .text .price {
	color: #F8601D;
}
.product .pro_shop ul li .text .btn {
	width: 1.388889rem;
	height: 0.694444rem;
	line-height: 0.694444rem;
	background-color: #FF9501;
	margin-top: 0.347222rem;
	color: #fff;
	border-radius: 5px;
}
/* 主体内容end */




/* 页面底部start */
.footer {
    width: 100%;
    margin-top: 0.277778rem;
    background-color: #EFEFEF;
    text-align: center;
}
.login {
    width: 100%;
    borer-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.login a {
    display: inline-block;
    padding: 0.069444rem;
    width: 32.55%;
    height: 100%;
    border-right: 1px solid #ccc;
} 
[data-dpr='1'] .login a {
	font-size: 14px;
}
[data-dpr='2'] .login a {
	font-size: 28px;
}
[data-dpr='3'] .login a {
	font-size: 42px;
}
/* 页面底部end */