.layout {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  border: 1px solid #E2E2E3;
}
.layout header {
  width: 100%;
  height: 1.3125rem;
}
.layout header a {
  display: block;
}
.layout header a:first-child {
  margin: 0.296875rem 0 0 0.453125rem;
}
.layout header a:first-child img {
  width: 4.921875rem;
  height: 0.671875rem;
}
.layout header a:last-child {
  margin: 0.171875rem 0.1875rem 0 0;
}
.layout header a:last-child img {
  width: 0.90625rem;
  height: 0.90625rem;
}
.layout header a img {
  display: block;
}
.layout .search {
  height: 1.390625rem;
  width: 100%;
  padding: 0.296875rem 0.265625rem;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.layout .search form {
  width: 100%;
  height: 100%;
  position: relative;
}
.layout .search form .s-ser {
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-left: 0.46875rem;
  border-radius: 0.34375rem;
  background-color: #F1F1F1;
}
[data-dpr="2"] .layout .search form .s-ser {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .search form .s-ser {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .search form .s-ser {
  font-size: 41px;
}
[data-dpr="3"] .layout .search form .s-ser {
  font-size: 45px;
}
[data-dpr="4"] .layout .search form .s-ser {
  font-size: 60px;
}
.layout .search form .s-btn {
  width: 1.6875rem;
  height: 0.765625rem;
  color: #FFF;
  font-size: 15px;
  border-radius: 0.34375rem;
  background-color: #FF841D;
  position: absolute;
  right: 0;
  top: 0;
}
[data-dpr="2"] .layout .search form .s-btn {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .search form .s-btn {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .search form .s-btn {
  font-size: 41px;
}
[data-dpr="3"] .layout .search form .s-btn {
  font-size: 45px;
}
[data-dpr="4"] .layout .search form .s-btn {
  font-size: 60px;
}
.layout .nav {
  padding: 0.125rem 0.125rem 0.671875rem;
}
.layout .nav .nav-box {
  width: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
}
.layout .nav .nav-box li {
  width: 100%;
}
.layout .nav .nav-box li:first-child .nav-title {
  border-radius: 10px 10px 0 0;
}
.layout .nav .nav-box li .nav-title {
  width: 100%;
  line-height: 1.09375rem;
  border-bottom: 1px solid #D6D6D6;
  background-color: #EBEBEB;
  padding-left: 0.421875rem;
}
.layout .nav .nav-box li .nav-title p {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}
[data-dpr="2"] .layout .nav .nav-box li .nav-title p {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .nav .nav-box li .nav-title p {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .nav .nav-box li .nav-title p {
  font-size: 41px;
}
[data-dpr="3"] .layout .nav .nav-box li .nav-title p {
  font-size: 45px;
}
[data-dpr="4"] .layout .nav .nav-box li .nav-title p {
  font-size: 60px;
}
.layout .nav .nav-box li .nav-title span {
  color: #979797;
  margin-right: 0.375rem;
}
.layout .nav .nav-box li .nav-content {
  width: 100%;
  background-color: #F9F9F9;
  display: none;
}
.layout .nav .nav-box li .nav-content ul {
  display: block;
  width: 100%;
}
.layout .nav .nav-box li .nav-content ul li {
  float: left;
  width: 33.3333%;
  border-right: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
.layout .nav .nav-box li .nav-content ul li:nth-child(3n) {
  border-right: none;
}
.layout .nav .nav-box li .nav-content ul li a {
  display: block;
  width: 100%;
  color: #000;
  font-size: 15px;
  text-align: center;
  line-height: 1.125rem;
}
[data-dpr="2"] .layout .nav .nav-box li .nav-content ul li a {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .nav .nav-box li .nav-content ul li a {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .nav .nav-box li .nav-content ul li a {
  font-size: 41px;
}
[data-dpr="3"] .layout .nav .nav-box li .nav-content ul li a {
  font-size: 45px;
}
[data-dpr="4"] .layout .nav .nav-box li .nav-content ul li a {
  font-size: 60px;
}
.layout footer {
  width: 100%;
  height: 2.625rem;
  background-color: #EFEFEF;
}
.layout footer .operate {
  width: 100%;
  line-height: 0.953125rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.layout footer .operate ul li {
  float: left;
  width: 30%;
  text-align: center;
  border-right: 1px solid #C4C4C4;
}
.layout footer .operate ul li:last-child {
  width: 40%;
  border-right: none;
}
.layout footer .operate ul li span {
  font-size: 13px;
}
[data-dpr="2"] .layout footer .operate ul li span {
  font-size: 25px;
}
[data-dpr="2.5"] .layout footer .operate ul li span {
  font-size: 31px;
}
[data-dpr="2.75"] .layout footer .operate ul li span {
  font-size: 34px;
}
[data-dpr="3"] .layout footer .operate ul li span {
  font-size: 38px;
}
[data-dpr="4"] .layout footer .operate ul li span {
  font-size: 50px;
}
.layout footer .introduce {
  width: 100%;
  height: 1.671875rem;
  text-align: center;
  padding-top: 0.46875rem;
}
