.layout {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  border: 1px solid #E2E2E3;
}
.layout header {
  width: 100%;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  line-height: 1.3125rem;
}
[data-dpr="2"] .layout header {
  font-size: 35px;
}
[data-dpr="2.5"] .layout header {
  font-size: 44px;
}
[data-dpr="2.75"] .layout header {
  font-size: 48px;
}
[data-dpr="3"] .layout header {
  font-size: 53px;
}
[data-dpr="4"] .layout header {
  font-size: 70px;
}
.layout header h4 {
  display: inline-block;
  font-weight: normal;
}
.layout header a {
  display: block;
  color: #FFF;
}
.layout header a:first-child {
  margin: 0.171875rem 0 0 0.1875rem;
}
.layout header a:first-child span {
  display: block;
  font-size: 30px;
  line-height: 0.9375rem;
}
.layout header a:last-child {
  margin: 0.171875rem 0.1875rem 0 0;
}
.layout header a:last-child img {
  width: 0.90625rem;
  height: 0.90625rem;
}
.layout header a img {
  display: block;
}
.layout .content {
  width: 100%;
  color: #535353;
}
.layout .content .content-tabs {
  border-bottom: 1px solid #D7D7D7;
}
.layout .content .content-tabs .tabs-header {
  width: 100%;
}
.layout .content .content-tabs .tabs-header li {
  display: block;
  width: 2.734375rem;
  font-size: 15px;
  color: #565656;
  text-align: center;
  line-height: 1rem;
  margin-right: 0.15625rem;
}
[data-dpr="2"] .layout .content .content-tabs .tabs-header li {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .content .content-tabs .tabs-header li {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .content .content-tabs .tabs-header li {
  font-size: 41px;
}
[data-dpr="3"] .layout .content .content-tabs .tabs-header li {
  font-size: 45px;
}
[data-dpr="4"] .layout .content .content-tabs .tabs-header li {
  font-size: 60px;
}
.layout .content .content-tabs .tabs-header li:last-child {
  width: 1.25rem;
  border-left: 1px solid #D7D7D7;
  margin-right: 0;
}
.layout .content .content-tabs .tabs-header li span:nth-child(1) {
  display: inline-block;
}
.layout .content .content-tabs .tabs-header li span:nth-child(2) {
  display: inline-block;
  width: 0.1875rem;
  height: 0.1875rem;
  border-width: 6px;
  border-style: solid;
  border-color: #565656 transparent transparent transparent;
  transform: translateY(0.078125rem);
  transform-origin: 6px 4px;
}
.layout .content .content-tabs .tabs-list {
  width: 100%;
  max-width: 640px;
  position: absolute;
  background-color: #FFF;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
}
.layout .content .content-tabs .tabs-list li {
  max-width: 640px;
  font-size: 15px;
  line-height: 1.09375rem;
  border-bottom: 1px solid #E1E1E1;
  padding: 0 0.4375rem 0 0.28125rem;
}
[data-dpr="2"] .layout .content .content-tabs .tabs-list li {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .content .content-tabs .tabs-list li {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .content .content-tabs .tabs-list li {
  font-size: 41px;
}
[data-dpr="3"] .layout .content .content-tabs .tabs-list li {
  font-size: 45px;
}
[data-dpr="4"] .layout .content .content-tabs .tabs-list li {
  font-size: 60px;
}
.layout .content .content-tabs .tabs-list li span:last-child {
  color: #FF841D;
  display: none;
}
.layout .content .content-products {
  background-color: #F1F1F1;
}
.layout .content .content-products ul {
  width: 100%;
  padding-top: 0.265625rem;
}
.layout .content .content-products ul li {
  float: left;
  width: 50%;
  padding: 0 0.109375rem 0.21875rem;
}
.layout .content .content-products ul li .product-box {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #E9E9E9;
  padding-bottom: 0.171875rem;
}
.layout .content .content-products ul li .product-box img {
  display: block;
  width: 100%;
  height: 4.703125rem;
  background-color: pink;
}
.layout .content .content-products ul li .product-box h3 {
  height: 0.6875rem;
  font-size: 15px;
  text-align: center;
  line-height: 0.6875rem;
  overflow: hidden;
}
[data-dpr="2"] .layout .content .content-products ul li .product-box h3 {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .content .content-products ul li .product-box h3 {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .content .content-products ul li .product-box h3 {
  font-size: 41px;
}
[data-dpr="3"] .layout .content .content-products ul li .product-box h3 {
  font-size: 45px;
}
[data-dpr="4"] .layout .content .content-products ul li .product-box h3 {
  font-size: 60px;
}
.layout .content .content-products ul li .product-box .product-price {
  font-size: 18px;
  line-height: 0.734375rem;
  padding: 0 0.171875rem;
}
[data-dpr="2"] .layout .content .content-products ul li .product-box .product-price {
  font-size: 35px;
}
[data-dpr="2.5"] .layout .content .content-products ul li .product-box .product-price {
  font-size: 44px;
}
[data-dpr="2.75"] .layout .content .content-products ul li .product-box .product-price {
  font-size: 48px;
}
[data-dpr="3"] .layout .content .content-products ul li .product-box .product-price {
  font-size: 53px;
}
[data-dpr="4"] .layout .content .content-products ul li .product-box .product-price {
  font-size: 70px;
}
.layout .content .content-products ul li .product-box .product-price .product-purchase {
  font-size: 15px;
  color: #FFF;
  padding: 0 0.28125rem;
  background-color: #FF9501;
  border-radius: 0.078125rem;
}
[data-dpr="2"] .layout .content .content-products ul li .product-box .product-price .product-purchase {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .content .content-products ul li .product-box .product-price .product-purchase {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .content .content-products ul li .product-box .product-price .product-purchase {
  font-size: 41px;
}
[data-dpr="3"] .layout .content .content-products ul li .product-box .product-price .product-purchase {
  font-size: 45px;
}
[data-dpr="4"] .layout .content .content-products ul li .product-box .product-price .product-purchase {
  font-size: 60px;
}
.layout .content .content-products ul li .product-box .product-price p {
  color: #F85D19;
}
.layout footer {
  width: 100%;
  height: 2.625rem;
  background-color: #EFEFEF;
}
.layout footer .operate {
  width: 100%;
  line-height: 0.953125rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.layout footer .operate ul li {
  float: left;
  width: 30%;
  text-align: center;
  border-right: 1px solid #C4C4C4;
}
.layout footer .operate ul li:last-child {
  width: 40%;
  border-right: none;
}
.layout footer .operate ul li span {
  font-size: 13px;
}
[data-dpr="2"] .layout footer .operate ul li span {
  font-size: 25px;
}
[data-dpr="2.5"] .layout footer .operate ul li span {
  font-size: 31px;
}
[data-dpr="2.75"] .layout footer .operate ul li span {
  font-size: 34px;
}
[data-dpr="3"] .layout footer .operate ul li span {
  font-size: 38px;
}
[data-dpr="4"] .layout footer .operate ul li span {
  font-size: 50px;
}
.layout footer .introduce {
  width: 100%;
  height: 1.671875rem;
  text-align: center;
  padding-top: 0.46875rem;
}
