@charset "utf-8";
html,
body {
  background: #f1f1f1;
  font-size: 75rem;
}
.mmb_load {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  /**** 主体部分start ****/
  /**** 主体部分end ****/
  /**** 底部start ****/
  /**** 底部end ****/
}
.mmb_load .fixbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.mmb_load .fixbox header {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  height: 1.3125rem;
  margin: 0 auto;
}
.mmb_load .fixbox header a {
  display: block;
}
.mmb_load .fixbox header a:first-child {
  margin: 0.296875rem 0 0 0.453125rem;
}
.mmb_load .fixbox header a:first-child img {
  width: 4.921875rem;
  height: 0.671875rem;
}
.mmb_load .fixbox header a:last-child {
  margin: 0.171875rem 0.1875rem 0 0;
}
.mmb_load .fixbox header a:last-child img {
  width: 0.90625rem;
  height: 0.90625rem;
}
.mmb_load .fixbox header a img {
  display: block;
}
.mmb_load .fixbox .search {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  height: 1.390625rem;
  padding: 0.296875rem 0.265625rem;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  background-color: #FFF;
  margin: 0 auto;
}
.mmb_load .fixbox .search form {
  width: 100%;
  height: 100%;
  position: relative;
}
.mmb_load .fixbox .search form .s-ser {
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-left: 0.46875rem;
  border-radius: 0.34375rem;
  background-color: #F1F1F1;
}
[data-dpr="2"] .mmb_load .fixbox .search form .s-ser {
  font-size: 30px;
}
[data-dpr="2.5"] .mmb_load .fixbox .search form .s-ser {
  font-size: 38px;
}
[data-dpr="2.75"] .mmb_load .fixbox .search form .s-ser {
  font-size: 41px;
}
[data-dpr="3"] .mmb_load .fixbox .search form .s-ser {
  font-size: 45px;
}
[data-dpr="4"] .mmb_load .fixbox .search form .s-ser {
  font-size: 60px;
}
.mmb_load .fixbox .search form .s-btn {
  width: 1.6875rem;
  height: 0.765625rem;
  color: #FFF;
  font-size: 15px;
  border-radius: 0.34375rem;
  background-color: #FF841D;
  position: absolute;
  right: 0;
  top: 0;
}
[data-dpr="2"] .mmb_load .fixbox .search form .s-btn {
  font-size: 30px;
}
[data-dpr="2.5"] .mmb_load .fixbox .search form .s-btn {
  font-size: 38px;
}
[data-dpr="2.75"] .mmb_load .fixbox .search form .s-btn {
  font-size: 41px;
}
[data-dpr="3"] .mmb_load .fixbox .search form .s-btn {
  font-size: 45px;
}
[data-dpr="4"] .mmb_load .fixbox .search form .s-btn {
  font-size: 60px;
}
.mmb_load .mmb_main {
  /*  分类start */
  padding-top: 2.65625rem;
  /*  分类end */
  /* 超值折扣推荐start */
  /* 超值折扣推荐end */
}
.mmb_load .mmb_main .category {
  border-top: 0.06666667rem solid #f4f4f4;
  background-color: #fff;
}
.mmb_load .mmb_main .category ul {
  width: 100%;
  padding: 0 0.4rem 0.4rem;
}
.mmb_load .mmb_main .category ul li {
  width: 25%;
  float: left;
  margin-top: 0.4rem;
}
.mmb_load .mmb_main .category ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #7f7f7f;
  padding: 0.26666667rem;
}
.mmb_load .mmb_main .category ul li a img {
  width: 100%;
}
.mmb_load .mmb_main .category ul li a p {
  text-align: center;
}
.mmb_load .mmb_main .mmb_recommend {
  margin-top: 0.06666667rem;
}
.mmb_load .mmb_main .mmb_recommend .recommend_title {
  height: 0.96rem;
  background: #FF841D;
  width: 100%;
  padding: 0 0.2rem;
  line-height: 0.96rem;
  position: relative;
}
.mmb_load .mmb_main .mmb_recommend .recommend_title h4 {
  color: white;
}
.mmb_load .mmb_main .mmb_recommend .recommend_title a {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  margin-top: 0.16rem;
  margin-right: 0.2rem;
  height: 0.64rem;
  width: 0.64rem;
  border-radius: 0.32rem;
  border: 0.02666667rem solid white;
  box-sizing: border-box;
}
.mmb_load .mmb_main .mmb_recommend .recommend_title a img {
  width: 100%;
  margin: 0 auto;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box {
  min-height: 0.66666667rem;
  border: 0.02666667rem solid #e7e7e7;
  background: #fff;
  padding: 0.26666667rem 0.13333333rem;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box img {
  width: 2.66666667rem;
  float: left;
  display: block;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box {
  overflow: hidden;
  height: 2.93333333rem;
  padding-right: 0.4rem;
  padding-left: 0.13333333rem;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .info_title {
  height: 2.26666667rem;
  display: block;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .info_title span {
  font-size: 0.4rem;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .info_title span:first-child {
  color: black;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .product_info {
  height: 0.66666667rem;
  color: #cdcdcd;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .message {
  display: block;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .message span {
  display: inline-block;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .message span:first-child {
  width: 0.32rem;
  height: 0.32rem;
  background: gray;
}
.mmb_load .mmb_main .mmb_recommend .recommend_con .product_box .info_box .message span:last-child {
  color: #cdcdcd;
}
.mmb_load .mmb_main .mmb_recommend .get_more {
  margin-top: 0.13333333rem;
  width: 100%;
  height: 0.85333333rem;
  padding: 0rem 0.26666667rem;
}
.mmb_load .mmb_main .mmb_recommend .get_more .get_info {
  display: block;
  color: black;
  width: 100%;
  background: #f8f8f8;
  line-height: 0.85333333rem;
  text-align: center;
  border: 0.01333333rem solid #dddddd;
  border-radius: 0.13333333rem;
}
.mmb_load footer {
  width: 100%;
  height: 2.625rem;
  background-color: #EFEFEF;
}
.mmb_load footer .operate {
  width: 100%;
  line-height: 0.953125rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.mmb_load footer .operate ul li {
  float: left;
  width: 30%;
  text-align: center;
  border-right: 1px solid #C4C4C4;
}
.mmb_load footer .operate ul li:last-child {
  width: 40%;
  border-right: none;
}
.mmb_load footer .operate ul li span {
  font-size: 13px;
}
[data-dpr="2"] .mmb_load footer .operate ul li span {
  font-size: 25px;
}
[data-dpr="2.5"] .mmb_load footer .operate ul li span {
  font-size: 31px;
}
[data-dpr="2.75"] .mmb_load footer .operate ul li span {
  font-size: 34px;
}
[data-dpr="3"] .mmb_load footer .operate ul li span {
  font-size: 38px;
}
[data-dpr="4"] .mmb_load footer .operate ul li span {
  font-size: 50px;
}
.mmb_load footer .introduce {
  width: 100%;
  height: 1.671875rem;
  text-align: center;
  padding-top: 0.46875rem;
}
