.domestic_layout {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}
.domestic_layout header {
  width: 100%;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  line-height: 1.3125rem;
}
[data-dpr="2"] .domestic_layout header {
  font-size: 35px;
}
[data-dpr="2.5"] .domestic_layout header {
  font-size: 44px;
}
[data-dpr="2.75"] .domestic_layout header {
  font-size: 48px;
}
[data-dpr="3"] .domestic_layout header {
  font-size: 53px;
}
[data-dpr="4"] .domestic_layout header {
  font-size: 70px;
}
.domestic_layout header h4 {
  display: inline-block;
  font-weight: normal;
}
.domestic_layout header a {
  display: block;
  color: #FFF;
}
.domestic_layout header a:first-child {
  margin: 0.171875rem 0 0 0.1875rem;
}
.domestic_layout header a:first-child span {
  display: block;
  font-size: 30px;
  line-height: 0.9375rem;
}
.domestic_layout header a:last-child {
  margin: 0.171875rem 0.1875rem 0 0;
}
.domestic_layout header a:last-child img {
  width: 0.90625rem;
  height: 0.90625rem;
}
.domestic_layout header a img {
  display: block;
}
.domestic_layout .domestic_main {
  width: 100%;
  padding: 0.4rem 0.26666667rem 0.26666667rem;
}
.domestic_layout .domestic_main .domestic_content .content_productName {
  font-size: 18px;
  font-weight: 600;
  font-family: Simsun;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_content .content_productName {
  font-size: 36px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_content .content_productName {
  font-size: 45px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_content .content_productName {
  font-size: 50px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_content .content_productName {
  font-size: 54px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_content .content_productName {
  font-size: 72px;
}
.domestic_layout .domestic_main .domestic_content .content_productPrice {
  font-size: 14px;
  color: #FF6C00;
  padding: 0.26666667rem 0;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_content .content_productPrice {
  font-size: 28px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_content .content_productPrice {
  font-size: 35px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_content .content_productPrice {
  font-size: 39px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_content .content_productPrice {
  font-size: 42px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_content .content_productPrice {
  font-size: 56px;
}
.domestic_layout .domestic_main .domestic_content .content_productFrom {
  font-size: 12px;
  color: #A599B2;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_content .content_productFrom {
  font-size: 24px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_content .content_productFrom {
  font-size: 30px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_content .content_productFrom {
  font-size: 33px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_content .content_productFrom {
  font-size: 36px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_content .content_productFrom {
  font-size: 48px;
}
.domestic_layout .domestic_main .domestic_content .content_box {
  margin-top: 0.66666667rem;
  width: 100%;
}
.domestic_layout .domestic_main .domestic_content .content_box .content-right {
  width: 3.33333333rem;
  height: 5.33333333rem;
}
.domestic_layout .domestic_main .domestic_content .content_box .content-left {
  overflow: hidden;
}
.domestic_layout .domestic_main .domestic_content .content_box .content-left p {
  font-size: 15px;
  line-height: 0.4rem;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_content .content_box .content-left p {
  font-size: 30px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_content .content_box .content-left p {
  font-size: 38px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_content .content_box .content-left p {
  font-size: 41px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_content .content_box .content-left p {
  font-size: 45px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_content .content_box .content-left p {
  font-size: 60px;
}
.domestic_layout .domestic_main .domestic_content .content_box .content-left img {
  width: 3.06666667rem;
  font-size: 15px;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_content .content_box .content-left img {
  font-size: 30px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_content .content_box .content-left img {
  font-size: 38px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_content .content_box .content-left img {
  font-size: 41px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_content .content_box .content-left img {
  font-size: 45px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_content .content_box .content-left img {
  font-size: 60px;
}
.domestic_layout .domestic_main .domestic_buy {
  width: 45%;
  border: 1px solid #C0C0C0;
  margin: 0 auto;
  padding: 0.26666667rem;
}
.domestic_layout .domestic_main .domestic_buy li {
  display: block;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  border-bottom: 1px dashed black;
  padding: 0 0.13333333rem;
}
.domestic_layout .domestic_main .domestic_buy li .buy_city {
  float: left;
  font-size: 12px;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_buy li .buy_city {
  font-size: 24px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_buy li .buy_city {
  font-size: 30px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_buy li .buy_city {
  font-size: 33px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_buy li .buy_city {
  font-size: 36px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_buy li .buy_city {
  font-size: 48px;
}
.domestic_layout .domestic_main .domestic_buy li .buy_tip {
  float: right;
  font-size: 12px;
  color: #F28742;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_buy li .buy_tip {
  font-size: 24px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_buy li .buy_tip {
  font-size: 30px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_buy li .buy_tip {
  font-size: 33px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_buy li .buy_tip {
  font-size: 36px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_buy li .buy_tip {
  font-size: 48px;
}
.domestic_layout .domestic_main .buy_goumai {
  margin: 0 auto;
  font-size: 14px;
  color: white;
  width: 95%;
  line-height: 1.06666667rem;
  background: #FF841D;
  border-radius: 3px;
  text-align: center;
}
[data-dpr="2"] .domestic_layout .domestic_main .buy_goumai {
  font-size: 28px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .buy_goumai {
  font-size: 35px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .buy_goumai {
  font-size: 39px;
}
[data-dpr="3"] .domestic_layout .domestic_main .buy_goumai {
  font-size: 42px;
}
[data-dpr="4"] .domestic_layout .domestic_main .buy_goumai {
  font-size: 56px;
}
.domestic_layout .domestic_main .domestic_message {
  width: 100%;
  padding: 0.53333333rem 0.26666667rem;
}
.domestic_layout .domestic_main .domestic_message img {
  width: 100%;
  margin: 0 auto;
}
.domestic_layout .domestic_main .domestic_productComment .tit {
  font-size: 15px;
  line-height: 0.66666667rem;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_productComment .tit {
  font-size: 30px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_productComment .tit {
  font-size: 38px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_productComment .tit {
  font-size: 41px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_productComment .tit {
  font-size: 45px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_productComment .tit {
  font-size: 60px;
}
.domestic_layout .domestic_main .domestic_productComment .reply {
  width: 100%;
  height: 3.06666667rem;
  border: 1px solid #ECEAE8;
}
.domestic_layout .domestic_main .domestic_productComment .reply .form {
  width: 100%;
  height: 3.06666667rem;
}
.domestic_layout .domestic_main .domestic_productComment .reply .form textarea {
  width: 100%;
  height: 2.66666667rem;
  font-size: 12px;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_productComment .reply .form textarea {
  font-size: 24px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_productComment .reply .form textarea {
  font-size: 30px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_productComment .reply .form textarea {
  font-size: 33px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_productComment .reply .form textarea {
  font-size: 36px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_productComment .reply .form textarea {
  font-size: 48px;
}
.domestic_layout .domestic_main .domestic_productComment .reply .form .ctrl {
  width: 100%;
  height: 1.06666667rem;
  border-top: 1px solid #ECEAE8;
}
.domestic_layout .domestic_main .domestic_productComment .reply .form .ctrl input {
  float: right;
  font-size: 14px;
  color: white;
  width: 2.66666667rem;
  height: 0.8rem;
  background: #FF841D;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_productComment .reply .form .ctrl input {
  font-size: 28px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_productComment .reply .form .ctrl input {
  font-size: 35px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_productComment .reply .form .ctrl input {
  font-size: 39px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_productComment .reply .form .ctrl input {
  font-size: 42px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_productComment .reply .form .ctrl input {
  font-size: 56px;
}
.domestic_layout .domestic_main .domestic_productComment .list {
  padding: 0 0.53333333rem;
  width: 100%;
  height: 2.4rem;
  font-size: 14px;
}
[data-dpr="2"] .domestic_layout .domestic_main .domestic_productComment .list {
  font-size: 28px;
}
[data-dpr="2.5"] .domestic_layout .domestic_main .domestic_productComment .list {
  font-size: 35px;
}
[data-dpr="2.75"] .domestic_layout .domestic_main .domestic_productComment .list {
  font-size: 39px;
}
[data-dpr="3"] .domestic_layout .domestic_main .domestic_productComment .list {
  font-size: 42px;
}
[data-dpr="4"] .domestic_layout .domestic_main .domestic_productComment .list {
  font-size: 56px;
}
.domestic_layout .domestic_main .domestic_productComment .list ul li b {
  float: right;
  font-weight: 400;
}
.domestic_layout footer {
  width: 100%;
  height: 2.625rem;
  background-color: #EFEFEF;
}
.domestic_layout footer .operate {
  width: 100%;
  line-height: 0.953125rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.domestic_layout footer .operate ul li {
  float: left;
  width: 30%;
  text-align: center;
  border-right: 1px solid #C4C4C4;
}
.domestic_layout footer .operate ul li:last-child {
  width: 40%;
  border-right: none;
}
.domestic_layout footer .operate ul li span {
  font-size: 13px;
}
[data-dpr="2"] .domestic_layout footer .operate ul li span {
  font-size: 25px;
}
[data-dpr="2.5"] .domestic_layout footer .operate ul li span {
  font-size: 31px;
}
[data-dpr="2.75"] .domestic_layout footer .operate ul li span {
  font-size: 34px;
}
[data-dpr="3"] .domestic_layout footer .operate ul li span {
  font-size: 38px;
}
[data-dpr="4"] .domestic_layout footer .operate ul li span {
  font-size: 50px;
}
.domestic_layout footer .introduce {
  width: 100%;
  height: 1.671875rem;
  text-align: center;
  padding-top: 0.46875rem;
}
