.layer {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  border: 1px solid #E2E2E3;
}
.layer header {
  width: 100%;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  line-height: 1.3125rem;
}
[data-dpr="2"] .layer header {
  font-size: 35px;
}
[data-dpr="2.5"] .layer header {
  font-size: 44px;
}
[data-dpr="2.75"] .layer header {
  font-size: 48px;
}
[data-dpr="3"] .layer header {
  font-size: 53px;
}
[data-dpr="4"] .layer header {
  font-size: 70px;
}
.layer header h4 {
  display: inline-block;
  font-weight: normal;
}
.layer header a {
  display: block;
  color: #FFF;
}
.layer header a:first-child {
  margin: 0.171875rem 0 0 0.1875rem;
}
.layer header a:first-child span {
  display: block;
  font-size: 25px;
  width: 0.90625rem;
  height: 0.90625rem;
  line-height: 0.9375rem;
}
.layer header a:last-child {
  margin: 0.171875rem 0.1875rem 0 0;
}
.layer header a:last-child img {
  width: 0.90625rem;
  height: 0.90625rem;
}
.layer header a img {
  display: block;
}
.layer .sqk_main {
  width: 100%;
}
.layer .sqk_main li {
  width: 100%;
  border-bottom: 1px solid #E7E7E7;
}
.layer .sqk_main li a {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 0.234375rem 0.13333333rem;
}
.layer .sqk_main li a img {
  width: 2.66666667rem;
  height: 2.66666667rem;
  float: left;
}
.layer .sqk_main li a .sqk_message {
  overflow: hidden;
  height: 2.66666667rem;
  padding-left: 0.26666667rem;
}
.layer .sqk_main li a .sqk_message .item_mes {
  width: 100%;
}
.layer .sqk_main li a .sqk_message .item_mes .pro_name {
  font-size: 0.42666667rem;
  color: #333333 ;
}
.layer .sqk_main li a .sqk_message .item_mes .pro_name .pro_ml {
  color: #523333;
  font-size: 0.37333333rem;
}
.layer .sqk_main li a .sqk_message .item_mes .pro_price {
  color: #FF7517;
  font-size: 0.37333333rem;
}
.layer .sqk_main li a .sqk_message .sqk_date {
  position: relative;
  bottom: -0.66666667rem;
  font-size: 0.32rem;
}
.layer .sqk_main li a .sqk_message .sqk_date .sqk_jd {
  color: #A1A1A1;
}
.layer .sqk_main li a .sqk_message .sqk_date .sqk_line {
  color: #A1A1A1;
}
.layer .sqk_main li a .sqk_message .sqk_date .spk_proTime {
  color: #CDBEA9;
}
.layer .sqk_main li a .sqk_message .sqk_date .spk-liuYan {
  font-size: 0.37333333rem;
  color: #A1A1A1;
}
.layer .sqk_main li a .sqk_message .sqk_date .spk-num {
  color: #A1A1A1;
  vertical-align: middle;
}
.layer .sqk_select {
  width: 100%;
  margin: 0.53333333rem;
}
.layer .sqk_select input {
  width: 2.24rem;
  height: 0.85333333rem;
  margin: 0 0.26666667rem;
}
.layer .sqk_select select {
  width: 2.24rem;
  height: 0.85333333rem;
  outline-color: #CCCCCC;
  margin: 0 0.53333333rem;
  font-size: 0.32rem;
}
.layer .sqk_select option {
  text-align: right;
  line-height: 0.53333333rem;
}
.layer footer {
  width: 100%;
  height: 2.625rem;
  background-color: #EFEFEF;
}
.layer footer .operate {
  width: 100%;
  line-height: 0.953125rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.layer footer .operate ul li {
  float: left;
  width: 30%;
  text-align: center;
  border-right: 1px solid #C4C4C4;
}
.layer footer .operate ul li:last-child {
  width: 40%;
  border-right: none;
}
.layer footer .operate ul li span {
  font-size: 13px;
}
[data-dpr="2"] .layer footer .operate ul li span {
  font-size: 25px;
}
[data-dpr="2.5"] .layer footer .operate ul li span {
  font-size: 31px;
}
[data-dpr="2.75"] .layer footer .operate ul li span {
  font-size: 34px;
}
[data-dpr="3"] .layer footer .operate ul li span {
  font-size: 38px;
}
[data-dpr="4"] .layer footer .operate ul li span {
  font-size: 50px;
}
.layer footer .introduce {
  width: 100%;
  height: 1.671875rem;
  text-align: center;
  padding-top: 0.46875rem;
}
