*, ::before, ::after {
    padding: 0;
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 64px;
}

body {
    width: 100%;
    font-family: "microsoft yahei", "sans-serif";
    /*overflow: hidden;*/
}

ul, ol, li {
    list-style: none;
}

a {
    cursor: default;
    text-decoration: none;
}

input, textarea {
    border: none;
    outline: none;
    resize: none;
    /*清除浏览器给input自带的样式*/
    -webkit-appearance: none;
}

.clearfix::after,
.clearfix::before {
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bt {
    border-top: 1px solid #ddd;
}

.br {
    border-right: 1px solid #ddd;
}

.bb {
    border-bottom: 1px solid #ddd;
}

.bl {
    border-left: 1px solid #ddd;
}

.color {
    color: #FF841D; /*慢慢买标准橙颜色*/
}

.colorB {
    background-color: #FF841D; /*慢慢买标准橙颜色*/
}

.colorRed {
    color: #FE1A1A;
}

.colorGray {
    color: #757575;
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/font_LF/iconfont.eot?t=1479835740694'); /* IE9*/
    src: url('../fonts/font_LF/iconfont.eot?t=1479835740694#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/font_LF/iconfont.woff?t=1479835740694') format('woff'), /* chrome, firefox */
    url('../fonts/font_LF/iconfont.ttf?t=1479835740694') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/font_LF/iconfont.svg?t=1479835740694#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\3488"; }

.icon-sousuo:before { content: "\e600"; }

.icon-fanhui:before { content: "\e604"; }

.icon-qq:before { content: "\e606"; }

.icon-weibo:before { content: "\e640"; }

.icon-gangbi:before { content: "\e617"; }

.icon-friends:before { content: "\e644"; }

.icon-duanxin:before { content: "\e771"; }

.icon-lianjie:before { content: "\e645"; }

.icon-qqkongjian:before { content: "\e6d3"; }

.icon-xiangshang-copy:before { content: "\e607"; }

.icon-xiangxia01:before { content: "\e602"; }

/*安稳字体图标*/
@font-face{
    font-family: "mmb-icon";
    src: url('../fonts/font_AW/iconfont.eot'); /* IE9*/
    src: url('../fonts/font_AW/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/font_AW/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/font_AW/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/font_AW/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.mmb-icon{
    font-family:"mmb-icon" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.mmb-icon-liuyanfill:before {
    content: "\e623";
}
.mmb-icon-xiangxia1:before {
    content: "\e64b";
}
.mmb-icon-xiangshang1:before {
    content: "\e647";
}
.mmb-icon-sousuoleimu:before {
    content: "\e633";
}
.mmb-icon-xuanze:before {
    content: "\e610";
}
.mmb-icon-xiangshang4:before {
    content: "\e668";
}
.mmb-icon-xiangxia4:before {
    content: "\e669";
}
.mmb-icon-guanbi1:before {
    content: "\e605";
}