@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
input, select, form, image, button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul, ol, li {
  list-style: none;
}
em, i {
  font-style: normal;
}
img {
  border: none;
}
html {
  width: 100%;
}
body {
  color: #000;
  font-family: arial;
  background: #FFF;
  overflow-x: hidden;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*在移动端特殊的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置所有的盒子的宽度以边框开始计算*/
  -webkit-box-sizing: border-box;
  /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
  box-sizing: border-box;
}
.clearfix::after,
.clearfix::before {
  content: "";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
[data-dpr="1"] .layout {
  font-size: 16px;
}
[data-dpr="2"] .layout {
  font-size: 32px;
}
[data-dpr="3"] .layout {
  font-size: 48px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 字体大小 */

[data-dpr="1"] .fs16 {
  font-size: 16px;
}
[data-dpr="2"] .fs16 {
  font-size: 32px;
}
[data-dpr="3"] .fs16 {
  font-size: 48px;
}
[data-dpr="1"] .fs20 {
  font-size: 20px;
}
[data-dpr="2"] .fs20 {
  font-size: 40px;
}
[data-dpr="3"] .fs20 {
  font-size: 60px;
}
[data-dpr="1"] .fs24 {
  font-size: 24px;
}
[data-dpr="2"] .fs24 {
  font-size: 48px;
}
[data-dpr="3"] .fs24 {
  font-size: 72px;
}
/* 字体大小 */
/* 字体图标 */
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1479796363060');
  /* IE9*/
  src: url('../fonts/iconfont.eot?t=1479796363060#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1479796363060') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1479796363060') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1479796363060#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shangjiantou:before {
  content: "\e61b";
}
.icon-xiajiantou:before {
  content: "\e61c";
}
.icon-jiantouxia:before {
  content: "\e6a1";
}
.icon-jiantoushang:before {
  content: "\e6a2";
}
.icon-wujiaoxing:before {
  content: "\e673";
}
.icon-sousuocaidan:before {
  content: "\e64f";
}
.icon-jiantou2:before {
  content: "\e69a";
}
.icon-guanbi:before {
  content: "\e610";
}
.icon-pinglun:before {
  content: "\e641";
}
.icon-shangjiantou1:before {
  content: "\e669";
}
.icon-jiantouyoujiantou:before {
  content: "\e615";
}
.icon-xiangshangjiantou:before {
  content: "\e62b";
}
.icon-dagou:before {
  content: "\e6c8";
}
.icon-jingdong:before {
  content: "\e60d";
}
.icon-jiantouyoujiantou1:before {
  content: "\e501";
}
html ,body{
  height: 100%;
}