.fanye {
width: 100%;
height: 90px;
/* background-color: pink; */
margin-top: 12px;
line-height: 90px;
vertical-align: middle;
}
.fanye  ul li{
	  width: 33%;
	  padding: 0 5%;
	  float: left;
	  text-align: center;
	  line-height: 34px;
}
.fanye input{
border-radius: 5px;
 margin-top: 28px;
width: 100%;
  height: 34px;
  float: left;
}
.fanye .b1{
 
}
.fanye .s1{
	display: inline-block;
    text-align: center;
	margin-top: 28px;
width: 100%;
	height: 34px;
    float: left;
}
.fanye .b2{
	

}