/*reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致*/
/*所有的标签和伪类  before after*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*在移动端特殊的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置所有的盒子的宽度以边框开始计算*/
  -webkit-box-sizing: border-box;
  /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
  box-sizing: border-box;
}
body {
  font-size: 14px;
  color: #333;
  font-family: "MicroSoft YaHei", "sans-serif";
  /*是设备默认的字体*/
  /*background: #E8E8E8;*/
}
html {
  font-size: 75px;
}
.main {
  min-width: 300px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  /*特殊的属性定义  清除浏览器给input自带的样式*/
  -webkit-appearance: none;
  /*组件默认的样式空*/
}
/*common css  也就是我们公用的css*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.m_r10 {
  margin-right: 10px;
}
.m_l10 {
  margin-left: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
/*公用样式*/
/*顶部通栏*/
header {
  width: 100%;
  height: 0.66666667rem;
  background: #ff841d;
}
header .logo {
  width: 2.53333333rem;
  height: 100%;
}
header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 0.2rem;
}
header .logo a img {
  display: block;
  width: 2.53333333rem;
  height: 0.33333333rem;
}
header .download {
  width: 0.45333333rem;
  height: 100%;
}
header .download a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 0.13333333rem;
}
header .download a img {
  display: block;
  width: 0.45333333rem;
  height: 0.45333333rem;
}
section {
  width: 100%;
}
section .search {
  width: 100%;
  height: 0.66666667rem;
  border-bottom: 0.06666667rem solid #e0e0e0;
  padding: 0.06666667rem 0.2rem;
}
section .search .txt {
  width: 83%;
  height: 0.4rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.2rem;
  padding-left: 0.2rem;
}
section .search .btn {
  width: 15%;
  height: 0.4rem;
  background: #ff841d;
  border-radius: 0.2rem;
  color: #fff;
}
footer .pingpai {
  width: 100%;
  height: 0.4rem;
  background: #ff841d;
  padding: 0 0.13333333rem;
}
footer .pingpai span {
  line-height: 0.4rem;
  color: #fff;
}
footer .pingpai a {
  display: block;
  color: #fff;
  font-family: monospace;
  border: 1px solid #fff;
  padding: 1px 4px;
  border-radius: 0.18666667rem;
  margin-top: 0.06666667rem;
}
footer ul {
  width: 100%;
  height: 0.53333333rem;
  margin-top: 0.26666667rem;
}
footer ul li {
  width: 33.3%;
  float: left;
  text-align: center;
  line-height: 0.53333333rem;
  border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
}
footer ul li:nth-child(2) {
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}
footer .phone {
  width: 100%;
  height: 0.8rem;
  margin-top: 0.26666667rem;
  text-align: center;
}
footer .phone p:nth-child(1) a {
  color: red;
}
footer .phone p:nth-child(1) span {
  color: #ccc;
}
footer .phone p:nth-child(2) a {
  color: #ccc;
}
