
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480221799123'); /* IE9*/
  src: url('iconfont.eot?t=1480221799123#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480221799123') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480221799123') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480221799123#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\3488"; }

.icon-sousuo:before { content: "\e600"; }

.icon-fanhui:before { content: "\e604"; }

.icon-qq:before { content: "\e606"; }

.icon-weibo:before { content: "\e640"; }

.icon-gangbi:before { content: "\e617"; }

.icon-friends:before { content: "\e644"; }

.icon-duanxin:before { content: "\e771"; }

.icon-lianjie:before { content: "\e645"; }

.icon-qqkongjian:before { content: "\e6d3"; }

.icon-xiangshang-copy:before { content: "\e607"; }

.icon-xiangxia01:before { content: "\e602"; }

