
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476893611'); /* IE9*/
  src: url('iconfont.eot?t=1476893611#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476893611') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476893611') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476893611#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-feiji2:before { content: "\e659"; }
.icon-daohangfenlei:before { content: "\e659"; }
.icon-share:before { content: "\e61b"; }
.icon-sousuo:before { content: "\e6ae"; }
.icon-icon47:before { content: "\e637"; }
.icon-shoucang:before { content: "\e64d"; }
.icon-35:before { content: "\e625"; }
.icon-iconfontjiantou3:before { content: "\e62c"; }
.icon-jiantouyou:before { content: "\e662"; }
.icon-shizhong:before { content: "\e600"; }
.icon-caidan:before { content: "\e6dc"; }
.icon-caidan1:before { content: "\e6a0"; }
.icon-shan:before { content: "\e616"; }
.icon-delete:before { content: "\e654"; }
.icon-shouji:before { content: "\e622"; }
.icon-shouji1:before { content: "\e648"; }
.icon-gouxuan:before { content: "\e612"; }
.icon-gouxuan1:before { content: "\e6e2"; }
.icon-gouxuan2:before { content: "\e97e"; }
.icon-youjian:before { content: "\e705"; }
.icon-youjian1:before { content: "\e61f"; }
