@charset "utf-8";

/* CSS Document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

input,
select,
form images,
button {
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

textarea {
  width: 95%;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

em, i {
  font-style: normal;
}

img {
  border: none;
}

html {
  width: 100%;
}

body {
  color: #000;
  font-family: "微软雅黑";
  background: #FFF;
  overflow-x: hidden;
}


.fl {
  float: left;
}

.fr {
  float: right;
}

/* 字体大小 */
/* 字体大小 */
[data-dpr="1"] .fs12 {
  font-size: 12px;
}
[data-dpr="2"] .fs12 {
  font-size: 24px;
}
[data-dpr="3"] .fs12 {
  font-size: 36px;
}
[data-dpr="1"] .fs14 {
  font-size: 14px;
}
[data-dpr="2"] .fs14 {
  font-size: 28px;
}
[data-dpr="3"] .fs14 {
  font-size: 42px;
}
[data-dpr="1"] .fs16 {
  font-size: 16px;
}
[data-dpr="2"] .fs16 {
  font-size: 32px;
}
[data-dpr="3"] .fs16 {
  font-size: 48px;
}
[data-dpr="1"] .fs18 {
  font-size: 18px;
}
[data-dpr="2"] .fs18 {
  font-size: 36px;
}
[data-dpr="3"] .fs18 {
  font-size: 54px;
}
[data-dpr="1"] .fs20 {
  font-size: 20px;
}

[data-dpr="2"] .fs20 {
  font-size: 40px;
}

[data-dpr="3"] .fs20 {
  font-size: 60px;
}

[data-dpr="1"] .fs24 {
  font-size: 24px;
}

[data-dpr="2"] .fs24 {
  font-size: 48px;
}

[data-dpr="3"] .fs24 {
  font-size: 72px;
}









/* 字体大小 */
/* 字体图标 */
@font-face {
    font-family: "iconfonts";
    src: url('../fonts/ysh-web-font.eot'); /* IE9*/
    src: url('../fonts/ysh-web-font.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ysh-web-font.woff') format('woff'), /* chrome, firefox */
    url('../fonts/ysh-web-font.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/ysh-web-font.svg') format('svg'); /* iOS 4.1- */
}

.iconfonts {
  font-family:"iconfonts" !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danxuanfill:before { content: "\e600"; }
.icon-danxuan:before { content: "\e601"; }
.icon-fangxingweixuanzhong:before { content: "\e602"; }
.icon-fangxingxuanzhongfill:before { content: "\e603"; }
.icon-fangxingxuanzhong:before { content: "\e604"; }
.icon-guanbi1:before { content: "\e605"; }
.icon-guanbi2fill:before { content: "\e606"; }
.icon-guanbi2:before { content: "\e607"; }
.icon-jiahao:before { content: "\e608"; }
.icon-jiahao1:before { content: "\e609"; }
.icon-jiahao2fill:before { content: "\e60a"; }
.icon-jianhao:before { content: "\e60b"; }
.icon-tishifill:before { content: "\e60c"; }
.icon-tishi:before { content: "\e60d"; }
.icon-wenhaofill:before { content: "\e60e"; }
.icon-wenhao:before { content: "\e60f"; }
.icon-xuanze:before { content: "\e610"; }
.icon-yuanxingweixuanzhong:before { content: "\e611"; }
.icon-yuanxingxuanzhongfill:before { content: "\e612"; }
.icon-yuanxingxuanzhong:before { content: "\e613"; }
.icon-biaoxingfill:before { content: "\e614"; }
.icon-biaoxing:before { content: "\e615"; }
.icon-chexiao:before { content: "\e616"; }
.icon-dingdan:before { content: "\e617"; }
.icon-fankui:before { content: "\e618"; }
.icon-fenxiang:before { content: "\e619"; }
.icon-gengduo:before { content: "\e61a"; }
.icon-gonglve:before { content: "\e61b"; }
.icon-gouwuchefill:before { content: "\e61c"; }
.icon-gouwuche:before { content: "\e61d"; }
.icon-gouwudai:before { content: "\e61e"; }
.icon-qiapianxingshi:before { content: "\e61f"; }
.icon-kefufill:before { content: "\e620"; }
.icon-kefu:before { content: "\e621"; }
.icon-liebiaoxingshi:before { content: "\e622"; }
.icon-liuyanfill:before { content: "\e623"; }
.icon-liuyan:before { content: "\e624"; }
.icon-pengyoufill:before { content: "\e625"; }
.icon-pengyou:before { content: "\e626"; }
.icon-qingchu:before { content: "\e627"; }
.icon-quan:before { content: "\e628"; }
.icon-saoma:before { content: "\e629"; }
.icon-shanchu:before { content: "\e62a"; }
.icon-shezhi:before { content: "\e62b"; }
.icon-shenfen:before { content: "\e62c"; }
.icon-shizhongfill:before { content: "\e62d"; }
.icon-shizhong:before { content: "\e62e"; }
.icon-shouyefill:before { content: "\e62f"; }
.icon-shouye:before { content: "\e630"; }
.icon-sousuo:before { content: "\e631"; }
.icon-sousuoleimufill:before { content: "\e632"; }
.icon-sousuoleimu:before { content: "\e633"; }
.icon-taojinbi:before { content: "\e634"; }
.icon-tongzhifill:before { content: "\e635"; }
.icon-tongzhi:before { content: "\e636"; }
.icon-tuikuan:before { content: "\e637"; }
.icon-wodefill:before { content: "\e638"; }
.icon-wode:before { content: "\e639"; }
.icon-wuliu:before { content: "\e63a"; }
.icon-xihuanfill:before { content: "\e63b"; }
.icon-xihuan:before { content: "\e63c"; }
.icon-xinxifill:before { content: "\e63d"; }
.icon-xinxi:before { content: "\e63e"; }
.icon-youhuiquan:before { content: "\e63f"; }
.icon-zhengli:before { content: "\e640"; }
.icon-zuji:before { content: "\e641"; }
.icon-zuobiaofill:before { content: "\e642"; }
.icon-zuobiao:before { content: "\e643"; }
.icon-dibu:before { content: "\e644"; }
.icon-dingbujinzhi:before { content: "\e645"; }
.icon-dingbu:before { content: "\e646"; }
.icon-xiangshang1:before { content: "\e647"; }
.icon-xiangshang2:before { content: "\e648"; }
.icon-xiangshang3:before { content: "\e649"; }
.icon-xiangshang4:before { content: "\e668"; }
.icon-xiangshang5:before { content: "\e64a"; }
.icon-xiangxia1:before { content: "\e64b"; }
.icon-xiangxia2:before { content: "\e64c"; }
.icon-xiangxia3:before { content: "\e64d"; }
.icon-xiangxia5:before { content: "\e64e"; }
.icon-xiangyou1:before { content: "\e64f"; }
.icon-xiangyou2:before { content: "\e650"; }
.icon-xiangyou3fill:before { content: "\e651"; }
.icon-xiangyou3:before { content: "\e652"; }
.icon-xiangzuo1:before { content: "\e653"; }
.icon-xiangzuo2:before { content: "\e654"; }
.icon-xiangji1fill:before { content: "\e655"; }
.icon-xiangji1:before { content: "\e656"; }
.icon-xiangji2:before { content: "\e657"; }
.icon-jiazai:before { content: "\e658"; }
.icon-shuaxin:before { content: "\e659"; }
.icon-wifi:before { content: "\e65a"; }
.icon-hongbao:before { content: "\e65b"; }
.icon-xinyongqia:before { content: "\e65c"; }
.icon-yonghufill:before { content: "\e65d"; }
.icon-yonghu:before { content: "\e65e"; }
.icon-salefill:before { content: "\e65f"; }
.icon-sale:before { content: "\e660"; }
.icon-zengsong:before { content: "\e661"; }
.icon-androidgengduo:before { content: "\e662"; }
.icon-leimu:before { content: "\e663"; }
.icon-bangzhuzhongxin:before { content: "\e664"; }
.icon-caidan:before { content: "\e665"; }
.icon-zantongfill:before { content: "\e666"; }
.icon-zantong:before { content: "\e667"; }
.icon-xiangshang4:before { content: "\e668"; }
.icon-xiangxia4:before { content: "\e669"; }
.icon-dianhua:before { content: "\e66a"; }
.icon-danpin:before { content: "\e66b"; }
.icon-duozhongzhifu:before { content: "\e66c"; }
.icon-erweima:before { content: "\e66d"; }
.icon-guojiwuliu:before { content: "\e66e"; }
.icon-huwai:before { content: "\e66f"; }
.icon-jujia:before { content: "\e670"; }
.icon-kuzi:before { content: "\e671"; }
.icon-muying:before { content: "\e672"; }
.icon-nanzhuang:before { content: "\e673"; }
.icon-neiyi:before { content: "\e674"; }
.icon-nvzhuang:before { content: "\e675"; }
.icon-pinpai:before { content: "\e676"; }
.icon-tequanzhuanshu:before { content: "\e677"; }
.icon-xiangbao:before { content: "\e678"; }
.icon-yishouchu:before { content: "\e679"; }
.icon-others:before { content: "\e67a"; }





