<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='../lib/flexible/flexible.js'></script>
    <script src='../lib/flexible/flexible_css.js'></script>
    <link rel="stylesheet" href="../css/base.css">
    <title>商品列表</title>
</head>
<body>
<!-- mtop 顶部栏和搜索框 -->
<div class="mtop">
    <!-- mheader 顶部栏 -->
    <header class="mheader">
        <a href="index.html" class='f-left mh-logo' ><img  src="../images/header_logo.png" alt=""></a>
        <a href="javascript:;" class='f-right mh-app'><img src="../images/header_app.png" alt=""></a>
    </header>
    <!-- minput 顶部搜索框 -->
    <div class="minput">
        <div class="minput-inp">
            <input class='inp' type="text" placeholder='请输入你想比价的商品'>
        </div>
        <div class="input-bt">
            <input class='bt' type="button" value='搜索'>
        </div>
    </div>
</div>

<!-- 页面主体部分 mbody -->
<main class="mbody">
    <!-- 3级导航菜单 -->
    <div class='mdaohang'></div>
    <script type='text/html' id='tempMdaohang'>
        <ul class='clearfix'>
            <li><a href="index.html">首页 > </a></li>
            <li><a href="category.html">全部分类 > </a></li>
            {{if result}}
                {{each result as v i}}
                    <li><a href="javascript:;">{{v.category}} > </a></li>
                {{/each}}
            {{/if}}
        </ul>
    </script>
    <!-- 产品列表 -->
    <!-- mproduct 产品模板  productlist 产品列表 -->
    <section class="mproduct productlist"></section>
    <script type='text/html' id='tempMproductlist'>
        {{if result}}
            <!-- 产品展示列表 -->
            <div class="mpro-list">
                <ul class='clearfix'>
                    {{each result as v i}}
                        <li class='mpro-list-item' productId={{v.productId}} productListId={{v.productListId}}>
                            <a href="product.html?productid={{v.productId}}&categoryid={{categoryid}}">
                                <div class="mitem-left">{{#v.productImg}}</div>
                                <div class="mitem-info">
                                    <div class="tit">{{v.productName}}</div>
                                    <div class='price'>{{v.productPrice}}</div>
                                    <div class="other clearfix">
                                        <span class='mall'>{{v.productQuote}}</span><span class='comment'>{{v.productCom}}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </script>
</main>

<!-- 分页选择 -->
<div class='mfenye'>
    <div><a class='mfenye-last' href="javascript:;">上一页</a></div>
    <div>
        <select name="mfenye-select" class="mfenye-select">
            <option value="1">1/1</option>
        </select>
    </div>
    <div><a class='mfenye-next' href="javascript:;">下一页</a></div>
</div>

<!-- mfooter 底部 -->
<footer class='mfooter'>
    <div class="mft-bts clearfix">
        <a href='javascript:;' class="bt-login">登录</a>
        <a href='javascript:;' class="bt-register">注册</a>
        <a href='javascript:window.scrollTo(0,0);' class="bt-totop">
            <img src="../images/top.jpg" alt="回到顶部">回到顶部
        </a>
    </div>
    <!-- 底部信息 -->
    <div class='mft-msg'>
        <p>
            <a href="javascript:;" style='color:red'>手机APP下载</a>
            <a href="javascript:;" style='color:black'>慢慢买手机版</a>
            <a href="javascript:;">--掌上比价平台</a>
        </p>
        <p>m.manmanbuy.com</p>
    </div>
</footer>
<script src='../lib/art/template.js'></script>
<script src='../lib/jquery/jquery-1.12.0.min.js'></script>
<script src='../js/common/routeURL.js'></script>
<script src='../js/common/tools.js'></script>
<script src='../js/productlist.js'></script>
</body>
</html>