//Variables make your code easier to maintain by giving you a way to control those values from a single location
@font-color:#5a5a5a;
@font-grew: #a1a1a1;

@main-color:#ff841d;
@price-color:#ff6c00;
@line-color:#e6e6e6;
