.main .title {
  height: 0.959976rem;
  background-color: #f3f3f3;
  color: #874604;
  line-height: 0.959976rem;
  padding-left: 0.26666rem;
  font-size: 14px;
  font-weight: 900;
  border-top: 1px solid #ccc;
}
.main ul {
  width: 100%;
  border-top: 1px solid #ccc;
}
.main ul li {
  font-size: 12px;
  width: 100%;
  height: 3.19992rem;
  border-bottom: 1px solid #A1A1A3;
}
.main ul li img {
  float: left;
  height: 100%;
  width: 3.19992rem;
}
.main ul li .tex {
  display: block;
  height: 1.59996rem;
  width: 100%;
  padding-top: 0.319992rem;
  line-height: 0.586652rem;
  padding-right: 5px;
}
.main ul li p {
  display: block;
  float: left;
  width: 3.9999rem;
  height: 0.639984rem;
  line-height: 0.639984rem;
  color: red;
}
.main ul li i {
  display: block;
  float: left;
  width: 2.6666rem;
  height: 0.639984rem;
  line-height: 0.639984rem;
  text-align: center;
  color: #FF9000;
}
.main ul li span {
  padding-right: 4px;
  display: inline-block;
  height: 0.746648rem;
  line-height: 0.746648rem;
  font-size: 10px;
  color: #A1A1A3;
}
.main ul li span a {
  display: block;
  height: 100%;
  width: 100%;
  color: #A1A1A3;
}
