.menu div {
  height: 0.79998rem;
  width: 1.706624rem;
  border: 1px solid #ccc;
  margin-top: 0.13333rem;
  margin-right: 0.13333rem;
  border-radius: 0.26666rem;
  font-size: 13px;
  line-height: 0.79998rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #ccc 0%, #fff 100%);
}
.main ul {
  width: 100%;
  border-top: 1px solid #ccc;
}
.main ul li {
  font-size: 12px;
  width: 100%;
  height: 3.19992rem;
  border-bottom: 1px solid #A1A1A3;
}
.main ul li img {
  float: left;
  height: 100%;
  width: 3.19992rem;
}
.main ul li .tex {
  display: block;
  height: 1.59996rem;
  width: 100%;
  padding-top: 0.319992rem;
  line-height: 0.586652rem;
  padding-right: 5px;
}
.main ul li p {
  display: block;
  width: 100%;
  height: 0.639984rem;
  line-height: 0.639984rem;
  color: red;
}
.main ul li span {
  padding-right: 4px;
  display: inline-block;
  height: 0.746648rem;
  line-height: 0.746648rem;
  font-size: 10px;
  color: #A1A1A3;
}
.main ul li span a {
  display: block;
  height: 100%;
  width: 100%;
  color: #A1A1A3;
}
.bottom {
  height: 1.173304rem;
  width: 100%;
  padding-left: 0.426656rem;
  padding-right: 0.426656rem;
  padding-top: 0.13333rem;
  text-align: center;
  line-height: 0.906644rem;
}
.bottom div {
  width: 2.26661rem;
  height: 0.93331rem;
  border: 1px solid #ccc;
  border-radius: 0.26666rem;
  background-image: linear-gradient(to bottom, #f1f1f1 0%, #ccc 100%);
}
.bottom select {
  height: 0.906644rem;
  width: 2.079948rem;
  border: 1px solid #ccc;
  font-size: 14px;
  padding-left: 0.39999rem;
  border-radius: 0.26666rem;
  background-color: #f1f1f1;
}
footer {
  height: 3.253252rem;
  background-color: #EFEFEF;
  padding-top: 0.693316rem;
  text-align: center;
}
footer div {
  width: 31%;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 0.879978rem;
  line-height: 0.879978rem;
  text-align: center;
  margin-bottom: 0.39999rem;
}
footer div:nth-child(3) {
  border-right: none;
  font-size: 12px;
  width: 38%;
}
footer a {
  font-size: 10px;
  color: #ccc;
}
footer a:nth-child(4) {
  color: red;
}
footer a:nth-child(5) {
  color: black;
}
footer p {
  color: #ccc;
}
