.title {
  height: 0.959976rem;
  background-color: #f3f3f3;
  color: #874604;
  line-height: 0.959976rem;
  padding-left: 0.26666rem;
  font-size: 14px;
  font-weight: 900;
  border-top: 1px solid #ccc;
}
.son_main {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.son_main li:first-child a span:nth-child(1) {
  background-color: red;
}
.son_main li:nth-child(2) a span:nth-child(1) {
  background-color: #FF9314;
}
.son_main li:nth-child(3) a span:nth-child(1) {
  background-color: #8ADF5B;
}
.son_main li {
  width: 100%;
  height: 1.59996rem;
  padding-left: 0;
  padding-top: 0.26666rem;
  padding-bottom: 0.26666rem;
  color: black;
  border-bottom: 1px solid #ccc;
}
.son_main li a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.son_main li a span {
  margin-left: 0.26666rem;
  height: 0.53332rem;
  width: 0.53332rem;
  line-height: 0.53332rem;
  text-align: center;
  color: white;
  background-color: #C9C9C9;
}
.son_main li a span:last-child {
  height: 100%;
  background-color: #fff;
  color: #C9C9C9;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1.06664rem;
  font-size: 0.479988rem;
}
.son_main li a p {
  height: 0.53332rem;
  line-height: 0.53332rem;
  margin-left: 0.959976rem;
}
.son_main li a p:nth-child(3) {
  color: #999;
  font-size: 12px;
}
