@charset "utf-8";
html,
body {
  width: 100%;
  background-color: #f1f1f1;
}
/*头部样式*/
header {
  width: 100%;
  height: 1.333333rem;
  background-color: #FF841C;
  justify-content: space-between;
}
header .logo {
  padding-left: 0.4rem;
  width: 50%;
}
header .logo a {
  width: 100%;
}
header .logo a img {
  width: 100%;
}
header .appDown {
  padding-right: 0.266667rem ;
}
header .appDown img {
  width: 0.906667rem;
}
.search {
  height: 1.333333rem;
  background-color: #fff;
  padding: 0.266667rem;
}
.search input {
  width: 80%;
  background-color: #f1f1f1;
  height: 0.8rem;
  border-radius: 0.4rem;
  font-size: 14px;
  padding-left: 0.533333rem;
}
.search button {
  border: none;
  background-color: #FF841C;
  height: 0.8rem;
  width: 16%;
  border-radius: 0.4rem;
  font-size: 14px;
  color: #fff;
}
[data-dpr="2"] .search input {
  font-size: 28px;
}
[data-dpr="3"] .search input {
  font-size: 42px;
}
[data-dpr="2"] .search button {
  font-size: 28px;
}
[data-dpr="3"] .search button {
  font-size: 42px;
}
/*底部样式*/
footer {
  height: 2.56rem;
  padding-top: 0.666667rem;
  background-color: #fff;
}
footer .footTop {
  background-color: #f1f1f1;
}
footer .footTop li {
  width: 33.33%;
  float: left;
}
footer .footTop li a {
  display: block;
  padding: 0.133333rem 0;
  text-align: center;
}
footer .footBottom {
  padding-top: 0.533333rem;
  background-color: #f1f1f1;
}
footer .footBottom p {
  text-align: center;
  font-size: 12px;
}
[data-dpr="2"] footer .footBottom p {
  font-size: 24px;
}
[data-dpr="3"] footer .footBottom p {
  font-size: 36px;
}
