html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  background-color: #c9c9c9;
}
/*整体盒子*/
.layout {
  height: 100%;
  position: relative;
  /*顶部通栏*/
  /*tab分页*/
  /*banner图片*/
  /*商品展示*/
  /*页面底部*/
  /*返回顶部小球*/
}
.layout .head {
  width: 100%;
  height: 44px;
  background-color: #e4393c;
  position: relative;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.layout .head .back {
  width: 50px;
  height: 44px;
  position: absolute;
  left: 0;
}
.layout .head .back a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 44px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.layout .head h1 {
  height: 44px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin: 0 auto;
  line-height: 44px;
  text-align: center;
}
.layout .head .downloadApp {
  width: 50px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/header_app.png") no-repeat center center;
  background-size: 34px 34px;
}
.layout .tabBar {
  height: 38px;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.layout .tabBar ul {
  height: 100%;
  width: 200%;
}
.layout .tabBar ul li {
  float: left;
  height: 100%;
}
.layout .tabBar ul li a {
  display: inline-block;
  height: 100%;
  line-height: 38px;
  text-align: center;
  margin: 0 12px;
}
.layout .tabBar ul li a.current {
  color: #e4393c;
  border-bottom: 2px solid #e4393c;
}
.layout .tabBar .serch {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
.layout .tabBar .serch a {
  display: block;
  width: 38px;
  height: 38px;
  font-size: 23px;
  font-weight: bold;
  color: #888;
  line-height: 38px;
  text-align: center;
}
.layout .banner {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.layout .banner > img {
  width: 100%;
}
.layout .display > ul > li.displayItem {
  width: 100%;
  height: 150px;
  padding: 10px 5px;
  margin-bottom: 10px;
  background-color: white;
}
.layout .display > ul > li.displayItem .container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 133px;
}
.layout .display > ul > li.displayItem .container > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  height: 130px;
}
.layout .display > ul > li.displayItem .container .right {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
  /*券后*/
  /*进度条*/
  /*下单链接*/
}
.layout .display > ul > li.displayItem .container .right > p:nth-child(2) {
  position: absolute;
  top: 50px;
  display: block;
  font-size: 24px;
  color: #fc353a;
}
.layout .display > ul > li.displayItem .container .right > p:nth-child(2) > i {
  font-size: 16px;
  font-style: normal;
}
.layout .display > ul > li.displayItem .container .right > p:nth-child(2) > em {
  font-size: 16px;
}
.layout .display > ul > li.displayItem .container .right > p:nth-child(2) > del {
  margin-left: 12px;
  font-size: 12px;
  color: #a8a8a8;
}
.layout .display > ul > li.displayItem .container .right > div {
  height: 25px;
  position: absolute;
  top: 75px;
}
.layout .display > ul > li.displayItem .container .right > div > i {
  display: inline-block;
  width: 82px;
  height: 14px;
  border: 1px solid #fc353a;
  border-radius: 6px;
  color: #fff;
  font-weight: 900;
  background: #ffb7b7;
  position: relative;
  /*进度*/
}
.layout .display > ul > li.displayItem .container .right > div > i em {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background: #fc353a;
  display: block;
}
.layout .display > ul > li.displayItem .container .right > div > i span {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  top: 1px;
  left: 1px;
}
.layout .display > ul > li.displayItem .container .right > div > b {
  font-size: 12px;
  margin-left: 10px;
  color: #fc353a;
  font-weight: normal;
  vertical-align: 3px;
}
.layout .display > ul > li.displayItem .container .right > p:nth-child(4) {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
}
.layout .display > ul > li.displayItem .container .right > p:nth-child(4) a:first-child {
  float: left;
  width: 110px;
  height: 28px;
  font-size: 12px;
  color: #fc353a;
  border: 1px dashed #fc353a;
  line-height: 28px;
  text-align: center;
}
.layout .display > ul > li.displayItem .container .right > p:nth-child(4) a:last-child {
  float: right;
  margin-right: 5px;
  width: 58px;
  height: 28px;
  border-radius: 6px;
  background-color: #fc353a;
  color: white;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
}
.layout footer {
  background-color: white;
}
.layout footer > .top {
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: white;
  color: black;
}
.layout footer > .top .landing {
  width: 33.3%;
  height: 35px;
  border: 1px solid #C4C4C4;
}
.layout footer > .top .login {
  width: 33.3%;
  height: 35px;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.layout footer > .top .backTop {
  width: 33.3%;
  height: 35px;
  border: 1px solid #C4C4C4;
}
.layout footer > .bottom {
  height: 58px;
  border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  overflow: hidden;
}
.layout footer > .bottom p:first-child {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
.layout footer > .bottom p:first-child span:nth-child(1) {
  color: #FF0000;
}
.layout footer > .bottom p:first-child span:nth-child(2) {
  color: black;
}
.layout footer > .bottom p:first-child span:nth-child(3) {
  color: #666666;
}
.layout footer > .bottom p:last-child {
  text-align: center;
  font-size: 12px;
}
.layout .toTop {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 31px;
  right: 9px;
}
.layout .toTop a {
  display: block;
  width: 40px;
  height: 40px;
}
