/* 
author :wzp
date :2016-11-22
 */

html,body{
 	width: 100%;
 	height: 100%;
 	min-width:320px;
 }
.brandList2 {
 	width: 100%;
 	min-width:320px;
 	position: relative;
 	// transition: all .5s ease;
 	// animation: move .5s ease-in-out;
 }




  /*顶部通栏*/
.brandList2 .topBar {
  	width: 100%;
  	height: 3.83rem;
  	background-color: orange;
  	position: fixed;
  }
 .brandList2 .topBar a:first-child img {
 	height:2.128rem;  
 	position: absolute;
 	top: 0.851rem;
 	left:0.851rem; 
 	display: block;
 }
 .brandList2 .topBar a:last-child img {
 	height:2.894rem;  
 	position: absolute;
 	top: 0.468rem;
 	right:0.851rem; 
 	display: block;
 }
 /*搜索栏*/
 .brandList2 .search {
   	padding: 4.255rem 0.851rem 0.426rem 0.851rem;

 }
  .brandList2 .search input:first-child {
  	width: 75%;
  	height:2.128rem;
  	border-radius: 1.277rem;
  	background-color: #EEE;
  	padding-left: 0.638rem;
  }
.brandList2 .search input:last-child {
  	width: 20%;
  	height:2.128rem;
	background-color: orange;
	border-radius: 1.277rem;
	font:1.191rem/2.128rem "microsoft yahei";
	color:white;
	float: right;
 }
 /*层级导航*/
.brandList2 .nav {
	width: 100%;
	height:2.979rem;
	background: linear-gradient(to top,#ddd,#fff);
	vertical-align: middle;
	padding:0 0.851rem;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-bottom: 0.426rem;
}
.brandList2 .nav a {
	display: inline-block;
	height:2.979rem;
	font: 0.979rem/2.979rem "simsum";
	padding:0 0.213rem;
}
/*热门品牌*/
.brandList2 .hot_brand {
	width: 100%;
	height:2.979rem;
	background: #EEE;
	font:bold 1.5rem/2.979rem "simsum";
	padding:0 0.851rem ;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color:#dc4503;	
	margin-bottom: 0.426rem;
	transition: all .5s ease;
	animation: move .5s ease-in-out;
} 

  /*商品栏*/
.brandList2 .brands {
	width: 100%;
	margin-bottom: 1.277rem;
	margin-bottom: 7rem;
	transition: all .5s ease;
 	animation: move .5s ease-in-out;
}
/*品牌列表  主体部分*/
.brandList2 .brands>li{
	padding: 0 1.5rem 0 4rem;
	height:4.681rem;
	background-color: #EEE;
	border-bottom: 1px solid #ccc;
	position: relative; 


} 
.brandList2 .brands>li>a{
	display: block;
	width: 100%;
	height:100%;
}
.brandList2 .brands>li>a>a {
	width: 100%;
	height:2.979rem;
	line-height:2.979rem;
	font-size: 1.4rem;
	font-weight:bold;
	color:red;
}
.brandList2 .brands>li>a>span:nth-child(4){
	color: #666;
}
/*品牌列表右侧箭头*/
.brandList2 .brands>li>a>span:nth-child(5){
	display: inline-block;
	font-size:2rem;
	color: #666;
	position: absolute;
	top:1.5rem;
	right:1rem;
}
.brandList2 .brands>li>a>span:first-child{
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	background-color: #ccc;
	text-align: center;
	color:white;
	margin-right:.5rem;
	position: absolute;
	top:1.34rem;
	left:0.851rem;
}
.brandList2 .brands>li:first-child>a>span:first-child{
	background-color: red;
}
.brandList2 .brands>li:nth-child(2)>a>span:first-child{
	background-color: orange;
}
.brandList2 .brands>li:nth-child(3)>a>span:first-child{
	background-color: lightgreen;
}

  /*登录*/
.brandList2 .login {
	width: 100%;
	height:2.128rem;
	background-color: #EEE;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: fixed;
	bottom: 4.255rem;
}	
.brandList2 .login li {
	float: left;
	width: 33.333%;
	height:2.128rem;
}
.brandList2 .login li a {
	display: inline-block;
	width: 100%;
	height:2.128rem;
	line-height:2.128rem;
	text-align: center;
}
/*返回顶部箭头*/
.brandList2 .login li:nth-child(3) .icon-arrow-up {
	color:#666;
}
.brandList2 .login li:nth-child(-n+2){
	border-right:1px solid #ccc;
}
  /*底部*/
.brandList2 footer {
	width: 100%;
	height:4.255rem;
	background-color: #EEE;
	padding-top:0.851rem;
	position: fixed;
	bottom: 0;
}
.brandList2 footer p{
	width: 100%;
	text-align: center;
	vertical-align: middle;

}
.brandList2 footer p a:nth-child(1) {
	color: red;
}
.brandList2 footer p a:nth-child(3) {
	color: #666;
}

/*动画*/
@keyframes  move{
	from {
		transform:translate(100%);
	}
	to{
		transform:translate(0%);
	}
}