
/*头部*/
header.MMB_topBar{
    background-color: #ed1c24;

}

/*优惠券主体部分*/
.MMB_main {
    height: 100%;
    padding-top: 44px;
    /*padding-bottom: 120px;*/
    font-size: 12px;
}
.discountBox{
    width: 100%;
}
.discountBox ul{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 20px;
}
.discountBox ul li{
    float: left;
    width: 33.333%;
    margin-bottom: 5px;


}
.discountBox ul li a{
    display: block;
    width: 90%;
    border: 1px solid #eee;
    margin: 0 auto;
    padding-top: 5px;

}
.discountBox ul li a img{
    display: block;
    width: 50px;;
    height: 50px;
    margin: 0 auto;
}
.discountBox ul li a p{
    padding-top: 6px;
    padding-bottom: 20px;
    text-align: center;
}

.sub_nav{
    padding-left: 8px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #000;
    background-image: linear-gradient(
            180deg,
            #fff 0%,
            #ccc 100%
    );
    position: relative;
    bottom: -110px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc;
}
