
html,body{
    width: 100%;
    height: 100%;
}


/*整个遮罩*/
.win{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.win img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 200px;
    height: 160px;
}



/*优惠券主体部分*/
.MMB_main {
    height: 100%;
    padding-top: 44px;
    min-width: 320px;
    margin: 0 auto;
}

/*小贴士*/
.MMB_main .discountTip{
    height: 28px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    color: #999;
    padding-bottom: 2px ;

}

/*商品列表*/
.MMB_main .discountBox{

}
.discountBox ul{
    width: 100%;
    overflow: hidden;
}
.discountBox ul li{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}
/*右箭头*/
.discountBox ul li .MMB_icon_arrow_right{
    position: absolute;
    font-size: 18px;
    color: #a5a5a5;
    top: 50%;
    right: 5px;
    z-index: 10;
}


/*左侧图片*/
.discountBox ul li .pic{
    float: left;
}
.discountBox ul li .pic a{
    display: block;
    width: 100px;
    height: 80px;
    overflow: hidden;
}
.discountBox ul li .pic a img{
    display: block;
    width: 100%;
    height: 100%;
}
/*右侧*/
.discountBox ul li .info{
    overflow: hidden;
    padding-left: 10px;
    font-size: 12px;
}
.discountBox ul li .info p{
    text-align: left;
}
.discountBox ul li .info p:nth-of-type(1){
    width: 100%;
    overflow: hidden;
    height: 60px;
    line-height: 20px;
    font-size: 14px;
    color: #000;
}
.discountBox ul li .info p:nth-of-type(2){
    padding: 7px 2px;
    color: #5a5a9d;
    font-weight: 700;
}
.discountBox ul li .info p:nth-of-type(3){
    padding: 16px 0;
    color: #ee7700;
}


/*按钮遮罩*/
.discountBox ul li a.mask{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:transparent;
}