/*reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /*-webkit-box-sizing: border-box;
    box-sizing: border-box;*/
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", "sans-serif";
  padding-bottom: 50px;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
img {
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: '.';
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.m-l10 {
  margin-left: 10px;
}
.m-t10 {
  margin-top: 10px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-r10 {
  margin-right: 10px;
}
/*公共头部*/
header {
  width: 100%;
  height: 50px;
  background-color: #ff841d;
  border-bottom: 1px solid #e6e6e6;
}
header .logo {
  width: 75%;
  padding: 12px;
  margin-left: 5px;
}
header .logo a {
  display: block;
  height: 100%;
}
header .logo a img {
  max-height: 25px;
  overflow: hidden;
}
header .appdown {
  padding: 7px;
}
header .appdown a img {
  max-height: 34px;
  overflow: hidden;
}
/* 底部信息 */
.foot .foot_top {
  background: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
  margin-top: 25px;
  clear: both;
}
.foot .foot_top a {
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
  text-align: center;
  width: 30%;
}
.foot .foot_top a:last-child {
  width: 40%;
  border: 0;
}
.foot .foot_top a:last-child img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 2px;
}
.foot footer {
  background: #efefef;
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
  color: #666;
}
.foot footer p a:first-child {
  color: red;
}
