@charset "UTF-8";
/*css初始化*/
html, body, div, a,ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

body {
    font: 12px/150% "Microsoft yahei", Arial, Verdana, "\5b8b\4f53"; /*宋体 unicode */
    color: #666;
    background: #fff;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*a标签*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #666;
}

/*去除文本标签样式*/
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;

}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

/*常用类名*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
.show {
    display: block;
}
