html,
body {
  height: 100%;
}
.goodslist {
  width: 100%;
}
.goodslist ul {
  width: 100%;
  overflow: hidden;
}
.goodslist ul li {
  height: 3.12rem;
  width: 100%;
  border: 1px solid #E7E7E7;
  border-top: none;
}
.goodslist ul li .img {
  width: 2.66666667rem;
  height: 1.73333333rem;
  float: left;
}
.goodslist ul li .goods_right {
  padding-left: 3.2rem;
}
.goodslist ul li .goods_right .info {
  font-size: 0.37333333rem;
  padding-top: 0.26666667rem;
  height: 1.28rem;
  display: block;
}
.goodslist ul li .goods_right .prive {
  font-size: 0.42666667rem;
  color: red;
  margin-top: 0.32rem;
  display: inline-block;
}
.goodslist ul li .goods_right .star {
  color: #FF9000;
  padding-right: 0.26666667rem;
  margin-top: 0.32rem;
}
.goodslist ul li .goods_right .goods_b {
  margin-top: 0.29333333rem;
}
.goodslist ul li .goods_right .goods_b .offer {
  padding-right: 0.26666667rem;
}
.goodslist ul li .goods_right .goods_b .offer a {
  color: #A1A1A1;
}
.goodslist ul li .goods_right .goods_b .review a {
  color: #A1A1A1;
}
.goodslist .review_box {
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #F8F8F8;
  float: left;
}
.goodslist .review_box .info_title {
  margin-top: 0.4rem;
}
.goodslist .review_box .info_title .name {
  padding-left: 0.29333333rem;
}
.goodslist .review_box .info_title .wjx {
  color: #FF9000;
  padding-left: 0.29333333rem;
}
.goodslist .review_box .info_title .date {
  padding-right: 0.29333333rem;
}
.goodslist .review_box p {
  padding: 0 0.29333333rem;
}
.btn {
  width: 1.33333333rem;
  height: 1.33333333rem;
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  opacity: 0.7;
  font-size: 1.33333333rem;
  color: #929292;
}
