@charset "utf-8";
html {
  font-size: 75px;
}
#header {
  background: #f4483e;
}
#header h3 {
  font-weight: normal;
}
/* 优惠券title */
.count-title {
  margin-top: 0.33333333rem;
  margin-bottom: 0.6rem;
}
.count-title ul {
  width: 100%;
  padding: 0 0.06666667rem;
}
.count-title li {
  float: left;
  width: 33.33%;
  height: 2.26666667rem;
  padding: 0.06666667rem;
}
.count-title li a {
  display: block;
  border: 0.02666667rem solid #eeeeee;
  width: 100%;
  height: 100%;
  text-align: center;
}
.count-title li img {
  width: 1.33333333rem;
  height: 1.33333333rem;
  margin-top: 0.13333333rem;
  vertical-align: middle;
}
.count-title li span {
  display: block;
}
/* 优惠券title */
/* 返回首页 */
.home {
  height: 0.93333333rem;
  background: #f4f4f4;
  border-bottom: 0.02666667rem solid #cccccc;
  border-top: 0.02666667rem solid #ebebeb;
  line-height: 0.93333333rem;
}
.home a {
  padding: 0 0.13333333rem;
}
/* 返回首页 */
