/*商品信息*/
.list {
  max-width: 960px;
  background-color: #ffffff;
  text-align: left;
  margin: 0 auto;
}
.list ul {
  display: table;
  width: 100%;
  padding: 0 0 0.26666667rem 0;
  font-size: 0;
  white-space: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list ul li {
  float: left;
  display: table-cell;
  padding: 0.26666667rem 0 0 0.26666667rem;
  text-align: center;
  vertical-align: middle;
  background: none;
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top-width: 0;
  overflow: hidden;
}
.list ul li a {
  display: block;
}
.list .img {
  margin: 0.26666667rem auto;
  overflow: hidden;
  width: 3.73333333rem;
  height: 3.73333333rem;
}
.list .img img {
  width: 3.73333333rem;
  height: 3.73333333rem;
}
.list .title {
  color: #333333;
  padding: 0 0.21333333rem;
  text-align: left;
  text-align-last: left;
  line-height: 0.48rem;
  height: 0.96rem;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list .subtit {
  color: #ff6c00;
  margin-top: 0.10666667rem;
  padding: 0 0.21333333rem;
  text-align: left;
  text-align-last: left;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 0.48rem;
  line-height: 0.48rem;
}
.list .info {
  padding: 0.16rem 0.21333333rem;
}
.list .mall {
  color: #a1a1a1;
  text-align: left;
}
/*底部栏*/
#i_foot {
  width: 100%;
  background-color: #EFEFEF;
}
#i_foot .foot_top {
  height: 0.85333333rem;
  border-top: 0.05333333rem solid #c4c4c4;
  border-bottom: 0.05333333rem solid #c4c4c4;
}
#i_foot .foot_top a {
  width: 33.333%;
  line-height: 0.85333333rem;
  height: 0.85333333rem;
  display: block;
  float: left;
  text-align: center;
}
#i_foot .foot_top a:nth-child(2) {
  border-left: 0.05333333rem solid #c4c4c4;
  border-right: 0.05333333rem solid #c4c4c4;
}
#i_foot .footer {
  height: 1.54666667rem;
  text-align: center;
}
