<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>品牌大全</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/brandRanking.css">
</head>
<body>
	<!-- 头部部分 -->
	<header class="brand-header">
		<div class="logo fl">
			<a href="index.html" title='慢慢买'>
				<img src="images/header_logo.png" alt="">
			</a>
		</div>
		<div class="appdown fr" >
			<a href="javascript:">
				<img src="images/header_app.png" alt="">
			</a>
		</div>
	</header>
	<!-- 搜索部分 -->
	<div class="search">
		<form>
			
				<input type="text" placeholder="请输入你想比价的商品" name="product" id="product">
				<input type="button" value="搜索" name='btn' id='btn'>
			
		</form>
	</div>
	<!--分类部分 -->
	<div class="brand-catrgory">
		<div class="catrgory-title">
			 <a href="index.html">首页&gt;</a>
			 <a href="category.html">全部分类&gt;</a>
		</div>
	</div>
	<!--销量排行部分 -->
	<div class="brand-ranking">
		
	
		
 </div>
 <!-- 底部部分 -->
 <footer>
 	<div class='footer-ranking'>
 		<p>品牌排行</p>
 		<span></span>
 	</div>
 	<div class='info clearfix'>
 	<a href="#">登录</a>
 	<a href="#">注册</a>

 	<a href="#">返回底部</a>
   </div>
   <div class='mobile'>
   	 	<a href="#">手机APP下载</a>
   	 	<a href="#">慢慢买手机版</a>、
   	 	<a href="#">--掌上比价平台</a>
   	 	<p class='net'>m.manmanbuy.com</p>
   </div>
 	
 </footer>

	<script src='lib/zepto/zepto.min.js'></script>
	<script src='lib/zepto/touch.js'></script>
	<script src='lib/zepto/selector.js'></script>
	<script src='lib/zepto/fx.js'></script>
	<script src='js/url.js'></script>
	<script src='lib/template-native.js'></script>
	<script src='js/brandRanking.js'></script>
	<script type="text/template" id='tpl'>
		<% for(var i = 0;i<items.length;i++) { %>
			<ul data-id='<%= i%>' class='rankingBox'>
			<li class='listBox'>
				<h4 class="ranking-title"><%= items[i]%>哪个牌子好</h4>
				
					
			</li>
			<li class='salesBox'>
				<h4 class="ranking-title"><%= items[i]%>销量排行</h4>
				
			</li>

			<li class="commentBox">
				<h4 class="ranking-title"><%= items[i]%>最新评论</h4>
			</li>

		</ul>
				
		<% } %>
	</script>
	<script type="text/template" id='item1'>
		<% for(var i = 0;i<result.length;i++) { %>
			<div class='num'>
				<i><%= i%10 %></i>
				<p class='brandName'><%= result[i].brandName%></p>
				<p class='sales'><%= result[i].brandInfo%></p>
				<span>&gt;</span>
			</div>
				
		<% } %>
	</script>
      <script type="text/template" id='item2'>
		<% for(var i = 0;i<result.length;i++) { %>
		<div class="productList" data-id='<%== result[i].productId%>'>
			<div class="pic-box fl">
				<a href="#"><%== result[i].productImg%></a>
			</div>
			<div class="info">
				<p class="info-title"><%= result[i].productName%><p>
				<p class='price'><%= result[i].productPrice%></p>
				<p class='show'>
					<a href="#"><%= result[i].productQuote%></a>
					<a href="#"><%= result[i].productCom%></a>
				</p>
			</div>
		</div>
		<% } %>
	</script>
	 <script type="text/template" id='item3'>

		<div class='comment'>
					<div class="comment-h">
						<div class='left-img'>
							<img src="<%= %>" alt="">
						</div>
						<div class='rigth-word'>
							
						</div> 
					</div>
						<div class="new1">
							<span class='comName'><%= result[0].comName%>:☆☆☆☆☆</span>
							<span class="comTime"><%= result[0].comTime%></span>
							<p><%= result[0].comContent%></p>
						</div>
					
				</div>
		
	</script>
</body>
</html>