<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>优惠券</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/coupon.css">
</head>
<body>
	
	<!-- 头部部分 -->
	<header class='coupon-header'>
		<a href="#" class='icon-back'></a>
		<p>优惠券</p>
		<a href="javascript:;" class='appdown'>
				<img src="images/header_app.png" alt="">
		</a>
	</header>
	
	<!-- 优惠券列表 -->
	<div class="coupon-list">
		<ul class='couponBox'>
			
		

		</ul>
	</div>
 <!-- 底部部分 -->
 <footer>
 	<div class='footer-ranking'>
 		<p>品牌排行</p>
 		<span></span>
 	</div>
 	<div class='info clearfix'>
 	<a href="#">登录</a>
 	<a href="#">注册</a>

 	<a href="#">返回底部</a>
   </div>
   <div class='mobile'>
   	 	<a href="#">手机APP下载</a>
   	 	<a href="#">慢慢买手机版</a>、
   	 	<a href="#">--掌上比价平台</a>
   	 	<p class='net'>m.manmanbuy.com</p>
   </div>
 	
 </footer>

	<script src='lib/zepto/zepto.min.js'></script>
	<script src='lib/zepto/touch.js'></script>
	<script src='lib/zepto/selector.js'></script>
	<script src='lib/zepto/fx.js'></script>
	<script src='js/url.js'></script>
	<script src='lib/template-native.js'></script>
	<script src='js/coupon.js'></script>
	<script type="text/template" id='tpl'>
		<% for(var i = 0;i<result.length;i++){ %> 
			<li class="infoBox" data-id="<%= result[i].couponId%>">
				<a href="<%= result[i].couponLink%>">
				   <img src="<%= result[i].couponImg%>" alt="">
				   <p><%= result[i].couponTitle%></p>
				</a>
			</li>
		<% } %>
		
	</script>
	
</body>
</html>